<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
    <div th:replace="styles :: commonfieldset"></div>
    <title>LMS</title>
    <style>
        h4 a {
            color: #14438B;
            font-size: 20px;
        }
    </style>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container mt-5">
    <fieldset>
        <legend>Fees & Tariffs Section</legend>
    <table class="table table-borderless">
        <tr style="border-bottom:1px solid darkgray;">
            <td class="text-center">
                <div class="custom-card" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_FINANCE')">
                    <a th:href="@{/licenses/finance/license_finance/application_fees/license_application_fee_list}">
                    <img th:src="@{/images/application_fees.png}" alt="License Management System"></a>
                    <h4 class="license-link" style="margin-top: 12px;">
                        <a th:href="@{/licenses/finance/license_finance/application_fees/license_application_fee_list}" th:text="#{Application_fees}"  style="font-size:20px;"></a>
                    </h4>
                </div>
            </td>
            </td>
            <td class="text-center">
                <div class="custom-card" style="margin-top:-23px;" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MINISTRY')">
                    <a th:href="@{/licenses/finance/mcit/license_fee_list}">
                        <img th:src="@{/images/mcit.png}" alt="MCIT"></a>
                    <h4 class="license-link" style="margin-top: 12px;">
                        <a th:href="@{/licenses/finance/mcit/license_fee_list}" th:text="#{mcit}"  style="font-size:20px;"></a>
                    </h4>

                </div>
            </td>
            <td class="text-center">
                <div class="custom-card" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_FINANCE')">
                    <a th:href="@{/licenses/finance/license_finance/administration_fees/license_administration_fee_list}">
                        <img th:src="@{/images/AdministrationFees.png}" alt="License Management System"></a>
                    <h4 class="license-link" style="margin-top: 12px;">
                        <a th:href="@{/licenses/finance/license_finance/administration_fees/license_administration_fee_list}" th:text="#{administration_fees}"  style="font-size:20px;"></a>
                    </h4>
                </div>
            </td>
        </tr>
        <!--   This is Today changes  -->
        <tr  style="border-bottom:1px solid darkgray;">

            <td class="text-center">
                <div class="custom-card" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_FINANCE')">

                    <a th:href="@{/licenses/finance/license_finance/database_maintainance_fees/license_database_fee_list}">
                        <img th:src="@{/images/database_maintainence_fees.png}"></a>
                    <h4 class="license-link" style="margin-top: 12px;">
                        <a th:href="@{/licenses/finance/license_finance/database_maintainance_fees/license_database_fee_list}" th:text="#{database_fees}"  style="font-size:20px;"></a>
                    </h4>

                </div>
            </td>

            <td class="text-center">
                <div class="custom-card" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_FINANCE')">
                    <a th:href="@{/licenses/finance/license_finance/guarantee_fees/license_guarantee_fee_list}">
                        <img th:src="@{/images/guarantee_fees.png}" alt="Guarantee"></a>
                    <h4 class="license-link" style="margin-top: 12px;">
                        <a th:href="@{/licenses/finance/license_finance/guarantee_fees/license_guarantee_fee_list}" th:text="#{guarantee_fees}"  style="font-size:20px;"></a>
                    </h4>

                </div>
            </td>
        </tr>
    </table>
    </fieldset>
    <a th:href="@{/licenses/finance/home}" class="btn btn-primary" style="margin-top:20px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Back to Page</a>
</div>

<div th:replace="scripts :: common-scripts"></div>
<div style="height:10vh;"></div>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
