<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
    <div th:replace="styles :: select2-styles"></div>
    <title>ATRA Financial Integrated System</title>
    <style>
        .label-rtl {
            color: black !important;
            font-weight: bolder !important;
            width: 100% !important;
            direction: rtl !important;
            text-align: right; /* Ensures text alignment in RTL */
        }
        .label-ltr {
            color: black !important;
            font-weight: bolder !important;
            width: 100% !important;
            direction: ltr !important;
            text-align: left;
        }

    </style>
</head>
<body  onload="setApplicationFees()">
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container-fluid">
    <!-- Form for License Approval -->
    <form th:action="@{/licenses/license/approval/license_applicants_approval}"
          th:object="${licenseApplicantDTO}" method="post" style="margin-top:5%;padding-left:5%;padding-right:5%;">
        <div class="row">
            <!-- Hidden Fields -->
            <input type="hidden" th:field="*{id}">
            <div class="col-md-3 form-group">
                <label for="id" th:text="#{approval_license_approval_type}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">License Type:</label>
                <select id="id" name="licenseApplicantId" th:field="*{id}" class="form-control">
                    <option th:each="type : ${licenseApplicants}"
                            th:value="${type.id}"
                            th:text="${type.companyLicenseName}"
                            th:selected="${type.id == id}"></option>
                </select>
            </div>


            <!-- License Type -->
            <div class="col-md-3 form-group">
                <label for="licenseTypeId" th:text="#{approval_license_approval_type}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">License Type:</label>
                <select id="licenseTypeId" name="licenseTypeId" th:field="*{licenseTypeId}" class="form-control">
                    <option th:each="type : ${licenseTypes}"
                            th:value="${type.id}"
                            th:text="${type.name}"
                            th:selected="${type.id == licenseTypeId}"></option>
                </select>
            </div>

            <div class="col-md-3 form-group">
                <label for="licenseFees"
                       th:text="#{license_approval_license_fees}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="licenseFees" th:field="*{licenseFees}" class="form-control" required >
            </div>

            <div class="col-md-3 form-group">
                <label for="licensePaymentOffice"
                       th:text="#{license_approval_payment_office}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="licensePaymentOffice" th:field="*{licensePaymentOffice}" class="form-control" required  readonly>
            </div>

        </div>

        <div class="row">


            <!-- Administrative Yearly Fees -->
            <div class="col-md-3 form-group">
                <label for="adminFees"
                       th:text="#{license_approval_admin_yearly_fees}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="adminFees" th:field="*{administrativeYearlyFees}" class="form-control" required readonly>
            </div>

            <!-- Administrative Yearly Fees Payment Office -->
            <div class="col-md-3 form-group">
                <label for="adminFeesPaymentOffice"
                       th:text="#{license_approval_admin_fees_payment_office}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="adminFeesPaymentOffice" th:field="*{adminstrivateYearlyFeesPaymentOffice}" class="form-control" required  readonly>
            </div>

            <div class="col-md-3 form-group">
                <label for="guaranteeFees"
                       th:text="#{license_approval_guarantee_fees}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="guaranteeFees" th:field="*{guaranteeFees}" class="form-control" required  readonly>
            </div>
            <div class="col-md-3 form-group">
                <label for="guaranteeFeesPaymentOffice"
                       th:text="#{license_approval_guarantee_fees_payment_office}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="guaranteeFeesPaymentOffice" th:field="*{guaranteeFeesPaymentOffice}" class="form-control" required   readonly>
            </div>
        </div>

        <div class="row">


            <!-- Database Yearly Maintenance Fees -->
            <div class="col-md-3 form-group">
                <label for="databaseMaintenanceFees"
                       th:text="#{license_approval_database_yearly_maintenance_fees}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="databaseMaintenanceFees" th:field="*{databaseYearlyMaintainanceFees}" class="form-control" required readonly>
            </div>

            <!-- Database Maintenance Fees Payment Office -->
            <div class="col-md-3 form-group">
                <label for="databaseMaintenanceFeesPaymentOffice"
                       th:text="#{license_approval_database_fees_payment_office}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="databaseMaintenanceFeesPaymentOffice" th:field="*{databaseYearlyMaintainanceFeesPaymentOffice}" class="form-control" required  readonly>
            </div>
            <div class="col-md-3 form-group">
                <label for="currencyType"
                       th:text="#{license_approval_currency_type}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="currencyType" th:field="*{currencyType}" class="form-control" required readonly>
            </div>
        </div>
        <div class="row">
            <!-- Approval Date -->
            <div class="col-md-3 form-group">
                <label for="approvalDate" th:text="#{approval_license_date}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="approvalDate" th:field="*{approvalDate}" class="form-control hijrishamsi" required>
            </div>

            <!-- Approval Status -->
            <div class="col-md-3 form-group">
                <label for="approvalStatus"
                       th:text="#{license_approval_status}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <select id="approvalStatus" th:field="*{approvalStatus}" class="form-control" required>
                    <option value="Approve" th:text="#{license_approval_approve}"></option>
                    <option value="Reject" th:text="#{license_approval_reject}"></option>
                </select>
            </div>

            <div class="col-md-3 form-group">
                <label for="boardDecisionNumber" th:text="#{boardDecisionNumber}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <input type="text" id="boardDecisionNumber" th:field="*{boardDecisionNumber}" class="form-control" required>
            </div>

            <div class="col-md-3 form-group">
                <label for="boardDecisions"
                       th:text="#{license_approval_boardDecisions}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <textarea type="text" id="boardDecisions" th:field="*{boardDecisions}" class="form-control" required />
            </div>
        </div>


        <!-- Submit Button -->
        <div class="row btn-center">
            <!-- Buttons -->
            <button type="submit" class="btn btn-primary btn-sm" style="margin: 10px;">
                <span class="fas fa-check"></span>
                <span th:text="#{license_approval_confirm}"></span>
            </button>
            <a th:href="@{/licenses/license/approval/license_applicants_approval_list}" class="btn btn-secondary btn-sm" style="margin: 10px;">
                <span class="fas fa-arrow-left"></span>
                <span th:text="#{license_approval_back_to_list}"></span>
            </a>
        </div>
    <!-- Back Link -->


</div>

<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<script>
    $('.hijrishamsi').persianDatepicker({
      format: 'YYYY-MM-DD',
      autoClose: true,
      calendar: {
          persian: {
              locale: 'en'
          }
      }
  });
function setApplicationFees() {
    const licenseType = document.getElementById("licenseTypeId").value;
    const guaranteeFees = document.getElementById("guaranteeFees");
    const guaranteeFeesPaymentOffice = document.getElementById("guaranteeFeesPaymentOffice");
    const validity = document.getElementById("validity");
    const currencyType = document.getElementById("currencyType");
    const adminFees = document.getElementById("adminFees");
    const licenseFees = document.getElementById("licenseFees");
    const databaseMaintenanceFees = document.getElementById("databaseMaintenanceFees");

    // Ensure these elements exist in your HTML
    const licensePaymentOffice = document.getElementById("licensePaymentOffice");
    const adminFeesPaymentOffice = document.getElementById("adminFeesPaymentOffice");
    const licenseApprovalDatabaseFeesPaymentOffice = document.getElementById("licenseApprovalDatabaseFeesPaymentOffice");
    const databaseMaintenanceFeesPaymentOffice = document.getElementById("databaseMaintenanceFeesPaymentOffice");


    // Currency Section
    if (licenseType === "6" || licenseType === "7" || licenseType === "8") {
        currencyType.value = "USD";
    } else {
        currencyType.value = "AFN";
    }
    // End Of Currency Section

    if (licenseType === "1") {
        licenseFees.value = 1950000000;
        guaranteeFees.value = 1000000;
        guaranteeFeesPaymentOffice.value = "ATRA";
        licensePaymentOffice.value = "MCIT";
        adminFees.value = 37000000;
        adminFeesPaymentOffice.value = "ATRA";
        databaseMaintenanceFees.value = 350000;
        databaseMaintenanceFeesPaymentOffice.value = "ATRA"
        licenseApprovalDatabaseFeesPaymentOffice.value = "ATRA";

    } else {
        // Clear fields if no valid license type
        licenseFees.value = "";
        guaranteeFees.value = "";
        guaranteeFeesPaymentOffice.value = "";
        adminFees.value = "";
        databaseMaintenanceFees.value = "";
        guaranteeFees.value = "";
        licensePaymentOffice.value = "";
        adminFeesPaymentOffice.value = "";
        databaseMaintenanceFeesPaymentOffice.value = "";
        licenseApprovalDatabaseFeesPaymentOffice.value = "";
    }
}

</script>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>