<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" th:dir="${#locale.language == 'ps' ? 'rtl' : 'ltr'}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{codes_layout :: page_head}">
    <div th:replace="styles :: commonfieldset"></div>
    <title>LMS</title>
    <style>
        h4 a {
            color: #14438B;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div th:replace="styles :: commonfieldset"></div>
<nav th:replace="~{codes_layout :: page_navbar}"></nav>

<div class="container mt-4">
    <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CODES_ADMIN')">
        <legend>Short Codes Management Section</legend>
        <table class="table table-borderless">
            <tr>
                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CODES_ADMIN')">
                        <a th:href="@{/codes/standard/shortcodes/add}">
                            <img th:src="@{/images/shortCodes.png}" alt="Short Code">
                        </a>
                        <h4 class="license-link" style="margin-top: 12px;">
                            <a th:href="@{/codes/standard/shortcodes/add}">Add Short Code</a>
                        </h4>
                    </div>
                </td>
                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CODES_ADMIN')">
                        <a th:href="@{/codes/standard/shortcodes}">
                            <img th:src="@{/images/smsidentifiercode.png}" alt="Finance Management">
                        </a>
                        <h4 class="license-link" style="margin-top: 10px;">
                            <a th:href="@{/codes/standard/shortcodes}">Short Code List</a>
                        </h4>
                    </div>


                </td>
                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CODES_ADMIN')">
                        <a th:href="@{/codes/standard/shortcodes_details/add}">
                            <img th:src="@{/images/codeDetail.png}" alt="Finance Management">
                        </a>
                        <h4 class="license-link" style="margin-top: 10px;">
                            <a th:href="@{/codes/standard/shortcodes_details/add}">Code Detail</a>
                        </h4>
                    </div>

                </td>
                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CODES_ADMIN')">
                        <a th:href="@{/codes/standard/shortcodes_details}">
                            <img th:src="@{/images/code_detail_list.png}" alt="Finance Management">
                        </a>
                        <h4 class="license-link" style="margin-top: 10px;">
                            <a th:href="@{/codes/standard/shortcodes_details}">Code Detail List</a>
                        </h4>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>

</div>
<div th:replace="scripts :: common-scripts"></div>

<div style="height:10vh;"></div>
<footer th:replace="~{codes_layout :: page_footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>