<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{codes_layout :: page_head}">
  <meta charset="UTF-8">

  <div th:replace="styles :: data-tables-styles"></div>
  <div th:replace="styles :: common-css"></div>
  <div th:replace="styles :: commonfieldset-with-legend-border"></div>

  <title>Unpaid Royalty Fee Extensions</title>
</head>
<body>

<nav th:replace="~{codes_layout :: page_navbar}"></nav>
<div class="container mt-4">
  <fieldset>
    <legend>
      Unpaid Royalty Fee Extensions
    </legend>

    <div class="table-container">
      <table class="slip" id="profileTable">

        <thead>
        <tr class="bg-primary">
      <th>#</th>
      <th>Extension Date</th>
      <th>Expiration Date</th>
      <th>Extended Fee</th>
      <th>Voucher No</th>
      <th>Entry Voucher Date</th>
      <th>Submission Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="ext, stat : ${extensions}">
      <td th:text="${stat.count}"></td>
      <td th:text="${ext.royaltyFeeExtensionDate}"></td>
      <td th:text="${ext.royaltyFeeExtensionExpirationDate}"></td>
      <td th:text="${ext.royaltyFeeExtendedFees}"></td>
      <td th:text="${ext.royaltyFeeExtensionBankVoucherNo}"></td>
      <td th:text="${ext.royaltyFeeExtensionEntryVoucherDate}"></td>
      <td th:text="${ext.royaltyFeeExtensionBankVoucherSubmissionDate}"></td>
      <td>
                <span class="badge bg-warning text-dark">
                    UNPAID
                </span>
      </td>
      <td>
        <a class="btn btn-sm btn-success"
           th:href="@{/royalty-fee-extension/pay/{id}(id=${ext.id})}">
          Pay
        </a>
      </td>
    </tr>
    </tbody>
  </table>
    </div>
  </fieldset>
</div>
<!-- Scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<div th:replace="scripts :: common-datatable"></div>

<div style="height:5vh;"></div>
<footer th:replace="~{codes_layout :: page_footer}"></footer>

</body>
</html>
