<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
  <meta charset="utf-8">
  <div th:replace="styles :: persian-datepicker-styles"></div>
  <div th:replace="styles :: select2-styles"></div>
  <div th:replace="styles :: certificate"></div>
  <style>
  </style>


</head>
<body style="margin:5px;font-size:12px;font-family:Arabic Typesetting;font-weight:bold;">
<nav th:replace="~{layout :: page_navbar}" id="pagnav"></nav>
<!--<div class="certificate-container">-->
<!--  <div class="certificate-header">-->
<!--    <img th:src="@{/images/tariff_pic.png}" alt="Logo">-->
<!--    <h1>CERTIFICATE</h1>-->
<!--    <h2>OF ACHIEVEMENT</h2>-->
<!--    <h2>THIS CERTIFICATE IS PRESENTED TO</h2>-->
<!--    <h2>-->
<!--      <input type="text" th:field="${licenseApprovalDTO.applicantLicenseCompanyName}" readonly>-->
<!--    </h2>-->
<!--    <h5>In recognition of their efforts in completing the License Type:</h5>-->
<!--    <h5>-->
<!--      <input type="text" th:field="${licenseApprovalDTO.licenseTypeName}" readonly>-->
<!--    </h5>-->
<!--    <div class="dates">-->
<!--      <h4>-->
<!--        Date of Issue:-->
<!--        <input type="text" th:field="${licenseApprovalDTO.approvalDate}" readonly>-->
<!--      </h4>-->
<!--      <h4>-->
<!--        Date of Expiration:-->
<!--        <input type="text" th:field="${licenseApprovalDTO.licenseFeeExpiryDate}" readonly>-->
<!--      </h4>-->
<!--    </div>-->
<!--    <div class="approvalId">-->
<!--      <h4>-->
<!--        Approval ID:-->
<!--        <input type="text" th:field="${licenseApprovalDTO.approvalId}" readonly>-->
<!--      </h4>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="signature-section">CEO Signature</div>-->
<!--  <div class="buttons">-->
<!--    <button class="btn btn-primary" onclick="doPrint();" id="prn">Print</button>-->
<!--    <a th:href="@{/licenses/license/certificate/license_applicants_certificate_list}" id="backtopage" class="btn btn-primary">-->
<!--      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width:20px;height:20px;">-->
<!--        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0L9 3m-6 6h12a6 6 0 1 1 0 12h-3" />-->
<!--      </svg>-->
<!--      Back to Page-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
<div style="border: 6px solid #DCAF45;border-radius:4px;">
<div class="container-fluid " style="border: 3px solid #14438B;">

  <div id="header" class="row d-flex align-items-center text-center" >
    <!-- Company Logo -->
    <div id="company_logo" class="col-2 d-flex justify-content-center align-items-center p-2">
      <img th:src="@{/images/tariff_pic.png}" alt="Logo" class="img-fluid">
    </div>

    <!-- English Text -->
    <div id="english_text" class="col-3 d-flex justify-content-center align-items-center flex-column p-2">
      <span>Islamic Emirate of Afghanistan</span>
      <span>Ministry of Communication & IT</span>
      <span>Afghanistan Telecom Regulatory Authority</span><br>
      <span style="font-weight:bolder;">License No : <span th:text="${licenseApprovalDTO.approvalId}" style="color:#14438B;border:0px; background-color:transparent; font-size:15px;color:#14438B;"></span></span>
    </div>

    <!-- Pashto Text -->
    <div id="pashto_text" class="col-3 d-flex justify-content-center align-items-center flex-column p-2">
      <span>د افغانستان اسلامي امارت</span>
      <span>د مخابراتو او معلوماتي ټکنالوجۍ وزارت</span>
      <span>د افغانستان د مخابراتي خدمتونو د تنظیم اداره</span>
    </div>

    <!-- Dari Text -->
    <div id="dari_text" class="col-3 d-flex justify-content-center align-items-center flex-column p-2">
      <span>امارت اسلامی افغانستان</span>
      <span>وزارت مخابرات و تکنالوژی معلوماتی</span>
      <span>اداره تنظیم خدمات مخابراتي افغانستان</span><br>
      <span style="dir:rtl; font-weight:bolder;"><span>د جواز شمیره</span> : <span th:text="${licenseApprovalDTO.approvalId}" style="color:#14438B;border:0px; background-color:transparent; font-size:15px;color:#14438B;"></sapn></span></span>
    </div>

    <!-- Emirate Logo -->
    <div id="emarat_logo" class="col-1 d-flex justify-content-center align-items-center p-2">
      <img th:src="@{/images/islami_emarat.png}" alt="Logo" class="img-fluid">
    </div>
    <div id="Line" style="border-bottom:4px solid #14438B;width:100%;"></div>
  </div>
<!--  Second Row -->
  <div id="main" class="row d-flex align-items-center text-center" >

    <div id="user1_logo" class="col-2 d-flex flex-column justify-content-center align-items-center p-2 text-center">
      <img th:src="@{/images/usericon.png}" alt="Logo" class="img-fluid">
      <span>Vice President مرستیال</span>
      <span>احمدولی زیارمل خان</span>
    </div>

    <!-- English Text -->
    <div id="Content" class="col-8 d-flex justify-content-center align-items-center flex-column p-2">

      <span class="mt-4"><input type="text" th:field="${licenseApprovalDTO.licenseTypeName}" disabled style="border:0px; background-color:transparent; font-size:15px;">

          <hr style="height: 3px; background-color: #DCAF45; border: none;">
      </span>
      <br>
      <span style="color:#14438B;"><input type="text" th:field="${licenseApprovalDTO.applicantLicenseCompanyName}" disabled style="border:0px; background-color:transparent; font-size:15px;"></span>
      <br>
      <span dir="rtl">تصدیق کیږي چي دا جواز د مخابراتي خدمتونو د تنظیم د قانون پر بنسټ صادر شوی دی.</span>
      <br>
      <span dir="rtl">تصدیق میګردد که این جواز به اساس قانون تنظیم خدمات مخابراتي صادر ګردیده است.</span>
      <br>
      <span>It is Certified that this License is issued based on Telecommunication Service Regulation Law.</span>
    </div>



    <div id="user2_logo" class="col-2 d-flex flex-column justify-content-center align-items-center p-2 text-center" dir="rtl">
      <img th:src="@{/images/usericon.png}" alt="Logo" class="img-fluid">
      <span>رًیس President</span>
      <span>احمدولی زیارمل </span>
    </div>

    <div id="Line2" style="border-bottom:4px solid #DCAF45;width:100%;"></div>
  </div>

  <!--    Third Row -->
  <div id="last" class="row d-flex align-items-center text-center" style="font-size:11px;" >

    <div id="right_first" class="col-5 d-flex flex-column justify-content-left align-items-left text-left">

      <span>Issued On: <span th:text="${licenseApprovalDTO.approvalDate}" style="border:0px; background-color:transparent; font-size:15px;color:#14438B;"></span></span><br>
      <span>Expires On: <span th:text="${licenseApprovalDTO.licenseFeeExpiryDate}" style="border:0px; background-color:transparent; font-size:15px;color:#14438B;"></span></span><br>
      <span>Established On: <span style="color:#14438B;">10/7/2024</span></span><br>
      <span>The Attached Terms & Conditions and the related annexes are considered as part of the License.</span><br>
      <span>For Verification of Validity and terms & conditions of the License,please refer to <a href="https://verification.atra.gov.af" target="_blank">https://verification.atra.gov.af</a></span><br>
      <span>Physical Address:<span  disabled style="border:0px; background-color:transparent; font-size:15px;color:#14438B;">Address</span></span><br>
      <span>Contact No: <span  disabled style="border:0px; background-color:transparent; font-size:15px;color:#14438B;">0987</span></span><br>
      <span>Number Of License Issued By Ministry of Commerce & Industries : <span  disabled style="border:0px; background-color:transparent; font-size:15px;color:#14438B;">License No</span></span>



    </div>

    <!-- English Text -->
    <div id="center_third" class="col-2 d-flex justify-content-center align-items-center flex-column p-2" style="font-size:14px;font-weight:bolder;">

      <span class="mt-4">د اترا د مقام لاسلیک او مهر

      </span>
    </div>




    <div id="right_third" class="col-5 d-flex flex-column justify-content-right align-items-right text-right" dir="rtl">
          <span>د صدور نیټه: <span th:text="${licenseApprovalDTO.approvalDate}" style="border:0px; background-color:transparent; font-size:15px;color:#14438B;"></span></span><br>
          <span>د پاي نیټه: <span th:text="${licenseApprovalDTO.licenseFeeExpiryDate}" style="border:0px; background-color:transparent; font-size:15px;color:#14438B;"></span></span><br>
          <span>د تاسیس نیټه: <span style="color:#14438B;">10/7/2024</span></span><br>
          <span>د جواز سره مل د جواز شرایط او اړوند ضمایم د جواز برخي ګڼل کیږي.</span><br>
          <span>د جواز د اعتبار او شرایطو د تاییدۍ لپاره <a href="https://verification.atra.gov.af" target="_blank">https://verification.atra.gov.af</a> ته مراجعه وکړۍ. </span><br>
          <span>فزیکي آدرس : <span style="color:#14438B;">کابل،افغانستان</span></span><br>
      <span>شماره: <span style="color:#14438B;">079876</span></span>
          <span>په صنعت او سوداګرۍ وزارت (مرکزي ثبت) کي د جواز شمیره : <span style="color:#14438B;">license No</span></span>
    </div>

  </div>

</div>
</div>



<div th:replace="scripts :: common-scripts"></div>
<script>
  function doPrint() {
    window.print();
  }
</script>

</body>
</html>
