<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
  <meta charset="utf-8">
  <div th:replace="styles :: persian-datepicker-styles"></div>
  <div th:replace="styles :: select2-styles"></div>
  <div th:replace="styles :: certificate"></div>

</head>
<body>
<nav th:replace="~{layout :: page_navbar}" id="pagnav"></nav>
<div class="certificate-container">
  <div class="certificate-header">
    <img th:src="@{/images/tariff_pic.png}" alt="Logo">
    <h1>CERTIFICATE</h1>
    <h2>OF ACHIEVEMENT</h2>
    <h2>THIS CERTIFICATE IS PRESENTED TO</h2>
    <h2>
      <input type="text" th:field="${licenseApprovalDTO.applicantLicenseCompanyName}" readonly>
    </h2>
    <h5>In recognition of their efforts in completing the License Type:</h5>
    <h5>
      <input type="text" th:field="${licenseApprovalDTO.licenseTypeName}" readonly>
    </h5>
    <div class="dates">
      <h4>
        Date of Issue:
        <input type="text" th:field="${licenseApprovalDTO.approvalDate}" readonly>
      </h4>
      <h4>
        Date of Expiration:
        <input type="text" th:field="${licenseApprovalDTO.licenseFeeExpiryDate}" readonly>
      </h4>
    </div>
    <div class="approvalId">
      <h4>
        Approval ID:
        <input type="text" th:field="${licenseApprovalDTO.approvalId}" readonly>
      </h4>
    </div>
  </div>
  <div class="signature-section">CEO Signature</div>
  <div class="buttons">
    <button class="btn btn-primary" onclick="doPrint();" id="prn">Print</button>
    <a th:href="@{/licenses/license/certificate/license_applicants_certificate_list}" id="backtopage" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width:20px;height:20px;">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0L9 3m-6 6h12a6 6 0 1 1 0 12h-3" />
      </svg>
      Back to Page
    </a>
  </div>
</div>
<div th:replace="scripts :: common-scripts"></div>
<script>
  function doPrint() {
    window.print();
  }
</script>

</body>
</html>
