<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{codes_layout :: page_head}">
    <title th:text="#{ispcCodeRejectedList}">ISPC Details</title>

    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: common-css"></div>
    <div th:replace="styles :: commonfieldset-with-legend-border"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
</head>

<body>

<nav th:replace="~{codes_layout :: page_navbar}"></nav>

<div class="container-fluid"
     th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">

    <fieldset>
        <legend th:text="#{ispcCodeRejectedList}">ISPC Code Rejected List</legend>

        <div class="table-container">

            <table class="slip table table-bordered table-striped"
                   id="profileTable"
                   style="width:100%">

                <thead>
                <tr class="bg-primary text-white">

                    <th>#</th>
                    <th th:text="#{ispcCode}">ISPC Decimal code</th>
                    <th th:text="#{companyName}">Company Name</th>
                    <th th:text="#{codeSerialNumber}">Serial Number</th>
                    <th th:text="#{ispcCodeMobile}">Mobile</th>
                    <th th:text="#{ispcCodeTelephone}">Telephone</th>
                    <th th:text="#{ispcCodeEmail}">Email</th>
                    <th th:text="#{ispcNumber}">Ispc Number</th>
                    <th th:text="#{uniqueNameOfTheSignalingPoint}">Signaling Point</th>
                    <th th:text="#{codeLocation}">Location</th>
                    <th th:text="#{tazkira}">ENID</th>
                    <th th:text="#{ispcCodeResposiblePerson}">Responsible Person</th>
                    <th th:text="#{ispcCodeAssigningDate}">Assign Date</th>
                    <th th:text="#{ispcCodeExpirationDate}">Expire Date</th>
                    <th th:text="#{codesStatus}">Reject Status</th>
                    <th th:text="#{codesRejectionDate}">Reject Date</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="d, iStat : ${rejects}">

                    <td th:text="${iStat.count}"></td>

                    <td th:text="${d.ispcCodeName}"></td>

                    <td th:text="${d.companyName}"></td>

                    <td th:text="${d.serialNumber}"></td>

                    <td th:text="${d.mobile}"></td>

                    <td th:text="${d.telephone}"></td>

                    <td th:text="${d.email}"></td>

                    <td th:text="${d.ispcNumber}"></td>

                    <td th:text="${d.signalingPoint}"></td>

                    <td th:text="${d.location}"></td>

                    <td th:text="${d.enid}"></td>

                    <td th:text="${d.responsiblePerson}"></td>

                    <td th:text="${d.assigningDateJalali}"></td>

                    <td th:text="${d.expirationDateJalali}"></td>

                    <td th:text="${d.ispcCodeRejectionStatus}"></td>

                    <td th:text="${d.IspcCodeRejectionDateJalali}"></td>

                </tr>

                </tbody>
            </table>

        </div>

    </fieldset>

    <a th:href="@{/codes/ispc-code/home}"
       class="btn btn-primary mt-3"
       th:text="#{codesBack}">
        ← Back to Page
    </a>

</div>

<!-- Scripts -->

<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<div th:replace="scripts :: common-datatable"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: common-hijrishamsi-date"></div>

<div style="height:10vh;"></div>

<footer th:replace="~{codes_layout :: page_footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>