<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{codes_layout :: page_head}">
    <title>SMS Identifier Finance Extension</title>

    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: common-css"></div>
    <div th:replace="styles :: commonfieldset-with-legend-border"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
</head>

<body>

<nav th:replace="~{codes_layout :: page_navbar}"></nav>

<div class="container-fluid"
     th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">

    <fieldset>
        <legend>Finance Department — Extended SMS Identifier Codes</legend>

        <div class="table-container">
            <table class="slip table table-bordered table-striped"
                   id="profileTable"
                   style="width:100%">

                <thead>
          <tr class="bg-primary text-white">
            <th>Extension ID</th>
            <th>Code</th>
            <th>Company</th>
            <th>ENID</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Channel</th>
            <th>Service</th>
            <th>MNO Host</th>
            <th>Category</th>
            <th>Start Date</th>
            <th>Expiration</th>
            <th>Extension</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="e : ${extensions}">
            <td th:text="${e.id}"></td>   <!-- EXTENSION ID -->

            <td th:text="${e.smsIdentifierCodeName}"></td>
            <td th:text="${e.companyName}"></td>
            <td th:text="${e.enid}"></td>
            <td th:text="${e.mobile}"></td>
            <td th:text="${e.email}"></td>
            <td th:text="${e.channel}"></td>
            <td th:text="${e.serviceType}"></td>
            <td th:text="${e.mnosCompanyHost}"></td>
            <td th:text="${e.codeCategory}"></td>
            <td th:text="${e.extensionStartDate}"></td>
            <td th:text="${e.extentionExpirationDate}"></td>
            <td>
                <a th:href="@{/codes/smsidentifier/finance/extensions/edit/{id}(id=${e.id})}">
                    Extend
                </a>

            </td>
        </tr>

        </tbody>

    </table>
        </div>
    </fieldset>
    <a th:href="@{/codes/smsidentifier/finance/home}"
       class="btn btn-primary mt-3">
        ← Back to Page
    </a>

</div>


<!-- Scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<div th:replace="scripts :: common-datatable"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: common-hijrishamsi-date"></div>

<div style="height:10vh;"></div>
<footer th:replace="~{codes_layout :: page_footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>