<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{codes_layout :: page_head}">
    <title>ISPC Detail</title>

    <div th:replace="styles :: persian-datepicker-styles"></div>
    <div th:replace="styles :: common-css"></div>
    <div th:replace="styles :: commonfieldset"></div>
    <div th:replace="styles :: select2-styles"></div>
</head>

<body>

<nav th:replace="~{codes_layout :: page_navbar}"></nav>

<div class="container-fluid mt-4"
     th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">

    <form th:action="@{/codes/ispc/details/save}"
          th:object="${detail}"
          method="post">

        <input type="hidden" th:field="*{id}"/>

        <fieldset style="border:2px solid #DCAF45;padding:15px;border-radius:8px;margin-bottom:20px;">

            <legend style="width:auto;font-size:1.2rem;color:#14438B;padding:0 10px;font-weight:bold;">
                ISPC Detail Form
            </legend>

            <div class="row g-3">

                <!-- ROW 1 -->

                <div class="col-md-3">
                    <label class="form-label">ISPC Code</label>

                    <select class="form-control search-select"
                            th:field="*{ispcCodeId}"
                            required>

                        <option value="">-- Select ISPC Code --</option>

                        <option th:each="c : ${codes}"
                                th:value="${c.id}"
                                th:text="${c.ispcCodeName}">
                        </option>

                    </select>
                </div>

                <div class="col-md-3">
                    <label>Company Name</label>
                    <input type="text" th:field="*{companyName}" class="form-control">
                </div>


                <div class="col-md-3">
                    <label>Company Address</label>
                    <input type="text" th:field="*{companyAddress}" class="form-control">
                </div>


                <div class="col-md-3">
                    <label>Mobile</label>
                    <input type="text" th:field="*{mobile}" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>Telephone</label>
                    <input type="text" th:field="*{telephone}" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>Email</label>
                    <input type="email" th:field="*{email}" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>ENID</label>
                    <input type="text" th:field="*{enid}" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>Ispc Number</label>
                    <input type="text" th:field="*{ispcNumber}" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>Unique Name of The Signaling Point</label>
                    <input type="text" th:field="*{signalingPoint}" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>Location</label>
                    <input type="text" th:field="*{location}" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>Registration Fee</label>
                    <input type="number" class="form-control" value="50000" readonly>
                </div>

                <!-- ROW 2 -->
                <div class="col-md-3">
                    <label>Responsible Person</label>
                    <input type="text" th:field="*{responsiblePerson}" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>Job</label>
                    <input type="text" th:field="*{job}" class="form-control">
                </div>
                <!-- ROW 3 -->
                <div class="col-md-3">
                    <label>Assigning Date</label>
                    <input type="text"
                           th:field="*{assigningDateJalali}"
                           class="form-control hijrishamsi">
                </div>

                <div class="col-md-3">
                    <label>Expiration Date</label>
                    <input type="text"
                           th:field="*{expirationDateJalali}"
                           class="form-control hijrishamsi">
                </div>

            </div>


            <!-- BUTTONS -->

            <div class="row mt-4">

                <div class="col-md-4 mx-auto d-flex justify-content-center gap-2">

                    <button type="submit" class="btn btn-success">
                        Save
                    </button>

                    &nbsp;&nbsp;

                    <a th:href="@{/codes/ispc/details}" class="btn btn-secondary">
                        Back
                    </a>

                </div>

            </div>

        </fieldset>

    </form>

</div>


<!-- Scripts -->

<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<!--<div th:replace="scripts :: common-hijrishamsi-date"></div>-->
<div th:replace="scripts :: select2-scripts"></div>

<div style="height:10vh;"></div>

<footer th:replace="~{codes_layout :: page_footer}"></footer>


<!--<script>-->
<!--    $(document).ready(function () {-->

<!--    $('.search-select').select2({-->
<!--    width:'100%'-->
<!--    });-->

<!--    });-->

<!--</script>-->


<script>
    $(document).ready(function () {

        // Select2
        $('.search-select').select2({
            width: '100%'
        });

        // Persian Datepicker
        $('.hijrishamsi').persianDatepicker({
            format: 'YYYY-MM-DD',
            autoClose: true,
            initialValue: true,
            initialValueType: 'persian',
            observer: true,
            calendar: {
                persian: {
                    locale: 'en',
                    leapYearMode: 'astronomical'
                }
            },
            onShow: function () {
                $('.persian-datepicker-container').appendTo('body');
            }
        });

    });
</script>

</body>
</html>