<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{codes_layout :: page_head}">
    <title>ISPC Details</title>

    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: common-css"></div>
    <div th:replace="styles :: commonfieldset-with-legend-border"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
</head>

<body>

<nav th:replace="~{codes_layout :: page_navbar}"></nav>

<div class="container-fluid"
     th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">

    <fieldset>
        <legend>ISPC Details</legend>

        <div class="table-container">

            <table class="slip table table-bordered table-striped"
                   id="profileTable"
                   style="width:100%">

                <thead>
                <tr class="bg-primary text-white">

                    <th>#</th>
                    <th>ISPC Decimal code</th>
                    <th>Company Name</th>
                    <th>Company Name In Dari</th>
                    <th>Serial Number</th>
                    <th>Mobile</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Ispc Number</th>
                    <th>Signaling Point</th>
                    <th>Location</th>
                    <th>ENID</th>
                    <th>Responsible Person</th>
                    <th>Assign Date</th>
                    <th>Expire Date</th>
                    <th>Remark</th>
                    <th>Rejection</th>
                    <th>Edit</th>
                    <th>Print</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="d, iStat : ${details}">

                    <td th:text="${iStat.count}"></td>

                    <td th:text="${d.ispcCodeName}"></td>

                    <td th:text="${d.companyName}"></td>

                    <td th:text="${d.companyNameInDari}"
                        dir="auto"
                        style="unicode-bidi: plaintext; text-align: start;"></td>

                    <td th:text="${d.serialNumber}"></td>

                    <td th:text="${d.mobile}"></td>

                    <td th:text="${d.telephone}"></td>

                    <td th:text="${d.email}"></td>

                    <td th:text="${d.ispcNumber}"></td>

                    <td th:text="${d.signalingPoint}"></td>

                    <td th:text="${d.location}"></td>

                    <td th:text="${d.enid}"></td>

                    <td th:text="${d.responsiblePerson}"></td>

                    <td th:text="${d.assigningDateJalali}"></td>

                    <td th:text="${d.expirationDateJalali}"></td>
                    <td th:text="${d.remark}"></td>
                    <td>
                        <a th:href="@{/codes/ispc/details/reject/{id}(id=${d.id})}"
                           class="btn btn-danger btn-sm">
                            ❌
                        </a>
                    </td>

                    <td>
                        <a th:href="@{/codes/ispc/details/edit/{id}(id=${d.id})}"
                           class="btn btn-warning btn-sm">
                            Edit
                        </a>

                    <td>
                    <!-- PRINT BUTTON -->
                    <a th:href="@{/codes/ispc/details/print/{id}(id=${d.id})}"
                       class="btn btn-success btn-sm"
                       target="_blank">
                        🖨 Print
                    </a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>

    </fieldset>

    <a th:href="@{/codes/ispc-code/home}"
       class="btn btn-primary mt-3">
        ← Back to Page
    </a>

</div>

<!-- Scripts -->

<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<div th:replace="scripts :: common-datatable"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: common-hijrishamsi-date"></div>

<div style="height:10vh;"></div>

<footer th:replace="~{codes_layout :: page_footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>