<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container mt-5">
    <h2>Change Password</h2>
    <form action="#" th:action="@{/licenses/admin/change-password/{id}(id=${userId})}" method="post">
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Change Password</button>
    </form>
    <a th:href="@{/licenses/admin/userlists}" class="btn btn-secondary mt-3">Back to User List</a>
</div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>
