<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
    <div th:replace="styles :: select2-styles"></div>
    <div th:replace="styles :: commoncss"></div>
    <title>LMS</title>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container-fluid">
    <div class="table-container">
        <a th:href="@{/licenses/admin/registration/add}" class="btn btn-primary" style="margin-top:20px;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>

            Register New User</a>
        <table class="table table-bordered" id="profileTable">
            <thead class="bg-primary">
            <tr>
                <th th:text="#{id}">Id</th>
                <th th:text="#{user_first_name}">First Name</th>
                <th th:text="#{user_last_name}">Last Name</th>
                <th th:text="#{user_email}">Email</th>
                <th th:text="#{user_role}">Role Name</th>
                <th th:text="#{user_organization}">Organization Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td>    <!-- Multi-select for Roles -->
                    <select class="form-control" multiple disabled>
                        <option th:each="role : ${availableRoles}"
                                th:value="${role.id}"
                                th:text="${role.name}"
                                th:selected="${user.roleIds.contains(role.id)}">
                        </option>
                    </select></td>
                <td th:text="${user.organizationName}"></td>

            </tr>
            </tbody>
        </table>
        <br>

    </div>
    <a th:href="@{/licenses/license/home}" class="btn btn-primary" style="margin-top:20px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Back to Page</a>
</div>
<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<div th:replace="scripts :: commondatatable"></div>

<div style="height:10vh"></div>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
