<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
  <meta charset="utf-8">

  <div th:replace="styles :: persian-datepicker-styles"></div>
  <div th:replace="styles :: select2-styles"></div>
  <div th:replace="styles :: license-print-tariffs"></div>

</head>
<body>
<nav th:replace="~{layout :: page_navbar}" id="pagnav"></nav>

<div class="container-fluid">
  <table class="table table-hover mt-4">
    <tr>
      <th colspan="9" style="text-align:center;">
        <img th:src="@{/images/tariff_pic.png}" alt="Image Not Displayed">
        <br><h3 th:text="#{atra}">ATRA</h3>
        <h3 th:text="#{islamic_emarat}"></h3>
        <h3 th:text="#{license_directorate}"></h3>
      </th>
    </tr>
    <tr>  <th th:text="#{license_request_id}"></th>
      <th th:text="#{mcit_license_approval_id}"></th>
      <th th:text="#{license_application_company_license_name}"></th>
      <th th:text="#{approval_license_type}"></th>
      <th th:text="#{mcit_license_approval_date}"></th>
      <th th:text="#{mcit_license_board_descision_no}">Board Decision Number</th>
      <th th:text="#{mcit_license_approval_status}"></th>
      <th th:text="#{mcit_license_approval_currency}"></th>
      <th th:text="#{database_fees}"></th>
    </tr>
    <tr>
      <td><input type="text" th:field="${licenseApprovalDTO.id}" disabled> </td>
      <td><input type="text" th:field="${licenseApprovalDTO.approvalId}" disabled></td>
      <td><input type="text" th:field="${licenseApprovalDTO.applicantLicenseCompanyName}" disabled></td>
      <td><input type="text" th:field="${licenseApprovalDTO.licenseTypeName}" disabled></td>
      <td><input type="text" class="hijrishamsi" th:field="${licenseApprovalDTO.approvalDate}" disabled></td>
      <td><input type="text"  th:field="${licenseApprovalDTO.boardDecisionNumber}" disabled></td>
      <td><input type="text"  th:field="${licenseApprovalDTO.approvalStatus}" disabled></td>
      <td><input type="text"  th:field="${licenseApprovalDTO.currencyType}" disabled></td>
      <td><input type="text"  th:field="${licenseApprovalDTO.databaseYearlyMaintainanceFees}" disabled></td>
    </tr>
    <tr>
      <td colspan="9" class="signature-section" th:text="#{signature}"></td>
    </tr>
    <tr>
      <td colspan="9">
        <button class="btn btn-primary" onclick="doPrint();" id="prn" th:text="#{print}"></button>
      </td>
    </tr>
  </table>
  <a th:href="@{/licenses/finance/license_finance/database_maintainance_fees/license_database_fee_list}" id="backtopage" class="btn btn-primary" style="margin-top:20px;">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>
    Back to Page</a>
</div>


<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<div th:replace="scripts :: common-hijrishamsi-date"></div>
<div th:replace="scripts :: common-do-print"></div>


<div style="height:10vh;"></div>
<footer th:replace="~{layout :: page_footer}" id="pagfooter"></footer>

</body>
</html>
