<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
    <div th:replace="styles :: select2-styles"></div>
    <div th:replace="styles :: common-css"></div>
    <div th:replace="styles :: commonfieldset-with-legend-border"></div>
    <title>LMS</title>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container-fluid mt-2">
    <fieldset>
        <legend>Rejected Licenses</legend>
    <div class="table-container">
        <table  class="slip" id="profileTable">
            <thead>
            <tr class="bg-primary">
                 <th>Id</th>
                 <th>Company Name</th>
                 <th>License Type</th>
                <th>Rejection Date</th>
                <th>Status</th>
                <th>Board Decision Number</th>
                <th>Board Decisions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${profiles}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.licenseApplicant.companyLicenseName}"></td>
                <td th:text="${item.licenseType.name}"></td>
                <td th:text="${item.getAppDate()}"></td>
                <td th:text="${item.approvalStatus}"></td>
                <td th:text="${item.boardDecisionNumber}"></td>
                <td th:text="${item.boardDecisions}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </fieldset>
    <a th:href="@{/licenses/license/home}" class="btn btn-primary" style="margin-top:20px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Back to Page</a>
</div>

<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<div th:replace="scripts :: common-datatable"></div>


<div style="height:10vh;"></div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>