<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:lang="${session.lang}" th:attr="dir=${session.dir}">
<head th:replace="~{layout :: page_head}">
    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
    <div th:replace="styles :: select2-styles"></div>
    <title>ATRA Financial Integrated System</title>
    <style>
        input[type="text"]{
                border-left: 2px solid blue;
        }
    </style>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<h3 style="text-align:center;margin-top:30px;font-weight:bolder;" th:text="#{license_application_confirmation}">License Application Confirmation</h3>
<div class="container-fluid mt-4">
    <form th:action="@{/licenses/finance/mcit/license_fee_list/add}" th:object="${licenseApprovalDTO}" method="post">
        <div class="row">
            <!-- Hidden ID Field -->
            <input type="hidden" th:field="*{id}">
            <div class="col-md-2 form-group">
                <lable th:text="#{approval_id}"></lable>
                <input type="text" th:field="*{approvalId}" class="form-control" disabled>
            </div>

            <div class="col-md-3 form-group">
               <lable th:text="#{license_fee_entry_voucher_date}"></lable>
                <input type="text" th:field="*{licenseFeeEntryVoucherDate}" class="form-control hijrishamsi">
            </div>

            <!-- Currency Type -->
            <div class="col-md-3 form-group">
                <label style="margin:0px;" th:text="#{license_fee_bank_voucher_no}"></label>
                <input type="text" th:field="*{licenseFeeBankVoucherNo}" class="form-control" >
            </div>
            <div class="col-md-3 form-group">
                <lable th:text="#{license_fee_bank_voucher_submission_date}"></lable>
                <input type="text" th:field="*{licenseFeeBankVoucherSubmissionDate}" class="form-control hijrishamsi">
            </div>

            <!-- Payment Status -->

            <div class="col-md-1 form-group align-items-center" style="margin-top: 20px; display: flex; align-items: center;">
                <input
                        type="checkbox"
                        th:field="*{licenseFeePaymentStatus}"
                        value="Paid"
                        id="licenseFeePaymentStatus"
                        style="
            width: 20px;
            height: 20px;
            accent-color: #007bff;
            border: 2px solid #ddd;
            border-radius: 4px;
            cursor: pointer;
        ">
                &nbsp;&nbsp;
                <label
                        th:text="#{license_fee_payment_status}"
                        for="licenseFeePaymentStatus"
                        class="form-check-label me-2"
                        style="cursor: pointer;">
                    Paid
                </label>
            </div>



        </div>

        <!-- Submit/Reset Buttons -->
        <div class="col-md-4 btn-group d-flex justify-content-center" style="margin-top: 15px; margin-bottom:80px; margin:0 auto;">
            <button type="submit" class="btn btn-primary btn-sm" style="width: 100px;" th:text="#{confirmation_payment}">
                <span class="fas fa-check"></span> Confirm Payment
            </button>
        </div>
    </form>
    <a th:href="@{/licenses/finance/mcit/license_fee_list}" id="backtopage" class="btn" style="margin-top:20px;background-color:#0dcaf0;color:white;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Back to Page</a>
</div>

<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>

<script>
    $('.hijrishamsi').persianDatepicker({
      format: 'YYYY-MM-DD',
      autoClose: true,
      calendar: {
          persian: {
              locale: 'en'
          }
      }
  });
</script>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
