<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="~{layout :: page_head}">
    <meta charset="UTF-8">
    <div th:replace="styles :: data-tables-styles"></div>
    <title>LMS - Report</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: select2-styles"></div>
    <div th:replace="styles :: commonfieldset"></div>
    <div th:replace="styles :: common-css"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
    <div th:replace="styles :: popup"></div>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container-fluid mt-4">
    <fieldset>
        <legend>License Guarantee Fee Confirmation</legend>
    <form th:action="@{/licenses/finance/license_finance/guarantee_fees/license_guarantee_fee_list/add}" th:object="${licenseApprovalDTO}" method="post">
        <div class="row">
            <!-- Hidden ID Field -->
            <input type="hidden" th:field="*{id}">
            <div class="col-md-2 form-group">
                <label th:text="#{approval_id}"></label>
                <input type="text" th:field="*{approvalId}" class="form-control" readonly>
            </div>
            <div class="col-md-3 form-group">
               <label th:text="#{guarantee_fee_entry_voucher_date}"></label>
                <input type="text" th:field="*{guaranteeFeeEntryVoucherDate}" class="form-control hijrishamsi">
            </div>
            <!-- Currency Type -->
            <div class="col-md-3">
                <label  th:text="#{guarantee_fee_bank_voucher_no}"></label>
                <input type="text" th:field="*{guaranteeFeeBankVoucherNo}" class="form-control" >
            </div>
            <div class="col-md-3 form-group">
                <label  th:text="#{guarantee_fee_bank_voucher_submission_date}"></label>
                <input type="text" th:field="*{guaranteeFeeBankVoucherSubmissionDate}" class="form-control hijrishamsi">
            </div>
            <!-- Payment Status -->
            <div class="col-md-1 form-group align-items-center" style="margin-top: 20px; display: flex; align-items: center;">
                <input
                        type="checkbox"
                        th:field="*{guaranteeFeePaymentStatus}"
                        value="Paid"
                        id="guaranteeFeePaymentStatus"
                        required
                        style="
            width: 20px;
            height: 20px;
            accent-color: #007bff;
            border: 2px solid #ddd;
            border-radius: 4px;
            cursor: pointer;
        ">
                &nbsp;&nbsp;
                <label
                        th:text="#{license_fee_payment_status}"
                        for="guaranteeFeePaymentStatus"
                        class="form-check-label me-2"
                        style="cursor: pointer;">
                    Paid
                </label>
            </div>
        </div>

        <!-- Submit/Reset Buttons -->
        <div class="col-md-4 btn-group d-flex justify-content-center" style="margin-top: 15px; margin-bottom:80px; margin:0 auto;">
            <button type="submit" id="submitButton" class="btn btn-primary btn-sm" style="width: 100px;" th:text="#{confirmation_payment}" onclick="confirmSubmit(event)">
                <span class="fas fa-check"></span> Confirm Payment
            </button>
        </div>
        <!-- Confirmation Popup -->
        <div id="confirmationPopup" class="confirmation-popup" style="display: none;">
            <div class="confirmation-popup-content">
                <img th:src="@{/images/tariff_pic.png}" />
                <h3>Are you sure you want to submit Guarantee Fee?</h3>
                <div class="confirmation-buttons">
                    <button id="confirmYesButton" class="confirm-btn yes-btn">Yes, Submit</button>
                    <button id="confirmNoButton" class="confirm-btn no-btn">No, Stay</button>
                </div>
            </div>
        </div>
    </form>
    </fieldset>
    <a th:href="@{/licenses/finance/license_finance/guarantee_fees/license_guarantee_fee_list}" id="backtopage" class="btn btn-primary" style="margin-top:20px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Back to Page</a>
</div>
<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<div th:replace="scripts :: alert"></div>
<div th:replace="scripts :: common-hijrishamsi-date"></div>

<div style="height:10vh;"></div>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
