<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{codes_layout :: page_head}">
    <title>Sms Identifier Finance | Application Fees</title>

    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
    <div th:replace="styles :: commonfieldset-with-legend-border"></div>
</head>

<body>

<nav th:replace="~{codes_layout :: page_navbar}"></nav>

<div class="container-fluid mt-4"
     th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">

    <fieldset class="mt-2">
        <legend>Sms Identifier Application Fees List</legend>

        <!-- RESPONSIVE WRAPPER -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="profileTable">
        <thead>
        <tr>
            <th>#ID</th>
            <th>Code Name</th>
            <th>Company</th>
            <th>ENID</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Channel</th>
            <th>Service Type</th>
            <th>Assign Date</th>
            <th>Expire Date</th>
            <th>Print Tariff</th>
            <th>Cofirm Payment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, stat : ${list}">
            <td th:text="${stat.count}"></td>
            <td th:text="${item.smsIdentifierCodeName}"></td>
            <td th:text="${item.companyName}"></td>
            <td th:text="${item.enid}"></td>
            <td th:text="${item.mobile}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.channel}"></td>
            <td th:text="${item.serviceType}"></td>
            <td th:text="${item.assigningDate}"></td>
            <td th:text="${item.expirationDate}"></td>
            <td>
                <a class="btn btn-sm btn-secondary"
                   th:href="@{/codes/sms-identifier-applicationfee/print-tariff/{id}(id=${item.id})}">
                    Print Tariff
                </a>
            </td>

            <td>
                <a class="btn btn-sm btn-primary"
                   th:href="@{/codes/sms-identifier-applicationfee/pay/{id}(id=${item.id})}">
                    Pay
                </a>
            </td>

        </tr>
        </tbody>
    </table>
        </div>
    </fieldset>
</div>

<div style="height:10vh;"></div>
<footer th:replace="~{codes_layout :: page_footer}"></footer>

</body>
</html>
