<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" />

  <div th:replace="styles :: commonfieldset"></div>
  <title>LMS</title>
  <style>
    body {

      background-color: #f5f5f5;
      font-family: 'EB Garamond', serif;
      font-weight:bold;
    }
    h4 a {
        color: #14438B;
        font-size: 20px;
    }
  </style>
</head>
<body>
<nav th:replace="~{typeofApproval_layout :: page_navbar}"></nav>
<div class="container mt-5">
  <fieldset  sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_typeofapprovals_ADMIN')">
    <legend th:text="#{typeof_approval_management_section}"></legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/onlineapplicationform/form}">
            <img th:src="@{/images/typeofapproval_Form.png}" alt="Type of Approval" class="img-fluid"></a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/onlineapplicationform/form}" th:text="#{typeof_approvals}" style="font-size:20px;"></a>
          </h4>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/applicant/applicantlists}">
            <img th:src="@{/images/typeOfApprovalList.png}" alt="Type of Approval" class="img-fluid"></a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/applicant/applicantlists}" style="font-size:20px;">List Of All Applicants</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset  sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_typeofapprovals_ADMIN')">
    <legend > Refer Management Section</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/refer/referlists}">
            <img th:src="@{/images/typeOfApprovalList.png}" alt="Type of Approval" class="img-fluid"></a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/refer/referlists}"  style="font-size:20px;">Refer Lists</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset  sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_typeofapprovals_ADMIN')">
    <legend >Finance Management</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/refer/referlists}">
            <img th:src="@{/images/typeOfApprovalList.png}" alt="Type of Approval" class="img-fluid"></a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/finance/paymentlists}"  style="font-size:20px;">Payment List</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div style="height:10vh;"></div>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>