<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" />
  <title>Type of Approval</title>
  <style>
                body {
                      background-color: #f5f5f5;
                      font-family: 'EB Garamond', serif;
                      font-weight: bold;
                }

                  h4 a {
                      color: #14438B;
                      font-size: 20px;
                }

                      .custom-card {
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 6px;
                        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                        transition: box-shadow 0.3s;
                }

                    .custom-card:hover {
                      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
                }
  </style>
  <div th:replace="styles :: ltr-to-rtl"></div>
</head>
<body>
<!-- Injected styles properly -->
<div th:replace="styles :: commonfieldset"></div>
<!-- Navbar -->
<nav th:replace="~{typeofApproval_layout :: page_navbar}"></nav>
<div class="container mt-5" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">
  <!-- Section: Type of Approval Management -->
  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TYPEOFAPPROVAL_ADMIN','ROLE_TYPEOFAPPROVAL_ONLINE_APPLICATION','ROLE_TYPEOFAPPROVAL_STANDARD')">
    <legend th:text="#{typeof_approval_management_section}">Type of Approval Management</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/onlineapplicationform/form}">
            <img th:src="@{/images/typeofapproval_Form.png}" alt="Online Application Form" class="img-fluid" />
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/onlineapplicationform/form}" th:text="#{typeof_approvals}" style="color: #14438B;
            font-size: 18px;">Type of Approvals</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TYPEOFAPPROVAL_ADMIN','ROLE_TYPEOFAPPROVAL_STANDARD')">
    <legend th:text="#{typeofapproval_applicants_information}">Type of Approval Applicants Information</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/applicant/applicantlists}">
            <img th:src="@{/images/typeOfApprovalList.png}" alt="Applicant List" class="img-fluid" />
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/applicant/applicantlists}" style="color: #14438B;font-size: 18px;" th:text="#{list_of_all_applicants}">List Of All Applicants</a>
          </h4>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/applicant/attachmentapplicantlists}">
            <img th:src="@{/images/typeofapproval_attachmentlist.png}" alt="Applicant List" class="img-fluid" />
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/applicant/attachmentapplicantlists}" style="color: #14438B;font-size: 18px;" th:text="#{list_of_all_applicants_with_attachments}">List Of All Applicants with Attachments</a>
          </h4>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/onlineapplicationform/list}">
            <img th:src="@{/images/edit_list.png}" alt="Applicant List" class="img-fluid" />
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/onlineapplicationform/list}" style="color: #14438B;font-size: 18px;">Edit Applicants</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
  <!-- Section: Refer Management -->
  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TYPEOFAPPROVAL_ADMIN','ROLE_TYPEOFAPPROVAL_STANDARD')">
    <legend th:text="#{refer_management_section}">Refer Management Section</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/refer/referlists}">
            <img th:src="@{/images/typeofapproval_referTofinance.png}" alt="Refer to Finance" class="img-fluid" />
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/refer/referlists}" style="color: #14438B;font-size: 18px;" th:text="#{refer_list}">Refer Lists</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
  <!-- Section: Finance Management -->
  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TYPEOFAPPROVAL_ADMIN','ROLE_TYPEOFAPPROVAL_ATRA_FINANCE','ROLE_TYPEOFAPPROVAL_MCIT_FINANCE')">
    <legend th:text="#{finance}"></legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/finance/home}">
            <img th:src="@{/images/payment_list.png}" alt="Payment List" class="img-fluid" />
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/finance/home}" style="color: #14438B;font-size: 18px;" th:text="#{finance}">Finance</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TYPEOFAPPROVAL_ADMIN','ROLE_TYPEOFAPPROVAL_STANDARD')">
    <legend>Tac Number Management Section</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/tacnumber/technicallist}">
            <img th:src="@{/images/tac_number.png}" alt="Refer to Finance" class="img-fluid" />
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/tacnumber/technicallist}" style="color: #14438B;font-size: 18px;">Tac Number</a>
          </h4>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/tacnumber/tacnumbers-list}">
            <img th:src="@{/images/tac_number_report.png}" alt="Refer to Finance" class="img-fluid" />
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/tacnumber/tacnumbers-list}" style="color: #14438B;font-size: 18px;">Tac Numbers List</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TYPEOFAPPROVAL_ADMIN','ROLE_TYPEOFAPPROVAL_STANDARD')">
    <legend>Certificate Management</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/tacnumber/paid-companies}">
            <img class="rounded" th:src="@{/images/type_of_approval_certificate.png}" alt="Certificate Management" style="height:100px;width:100px;">
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/tacnumber/paid-companies}" style="color: #14438B;font-size: 18px;">Certificate List</a>          </h4>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TYPEOFAPPROVAL_ADMIN','ROLE_TYPEOFAPPROVAL_STANDARD')">
    <legend>Reports Section</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/reports/general_report}">
            <img class="rounded" th:src="@{/images/typeofapproval_general_repots.png}" alt="User Management" style="height:100px;width:100px;">
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/reports/general_report}" style="color: #14438B;font-size: 18px;">General Report</a></h4>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/reports/refer_report}">
            <img class="rounded" th:src="@{/images/Refer_Report.png}" alt="User Management" style="height:100px;width:100px;">
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/reports/refer_report}" style="color: #14438B;font-size: 18px;">Refer Report</a> </h4>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/typeofapprovals/reports/company-services}">
            <img class="rounded" th:src="@{/images/services_Reports.png}" alt="User Management" style="height:100px;width:100px;">
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/typeofapprovals/reports/company-services}" style="color: #14438B;font-size: 18px;">Company Service Report</a> </h4>
        </div>
      </div>

    </div>
  </fieldset>
  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TYPEOFAPPROVAL_ADMIN','ROLE_TYPEOFAPPROVAL_STANDARD')">
  <legend>User Management</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/licenses/admin/change-password/14}">
            <img class="rounded" th:src="@{/images/user.gif}" alt="User Management" style="height:100px;width:100px;">
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/licenses/admin/change-password/13}" style="color: #14438B;font-size: 18px;">User Management</a>          </h4>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<!-- Footer -->
<div th:replace="scripts :: common-scripts"></div>
<div style="height:10vh;"></div>
<footer th:replace="~{layout :: page_footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
