<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
  <meta charset="utf-8">

  <div th:replace="styles :: persian-datepicker-styles"></div>
  <div th:replace="styles :: select2-styles"></div>
  <div th:replace="styles :: commontariffcss"></div>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}" id="pagnav"></nav>

<div class="container-fluid">
  <table class="table table-hover mt-4">
    <tr>
      <th colspan="9" style="text-align:center;">
        <img th:src="@{/images/tariff_pic.png}" alt="Image Not Displayed">
        <br><h3 th:text="#{atra}">ATRA</h3>
        <h3 th:text="#{islamic_emarat}"></h3>
        <h3 th:text="#{license_directorate}"></h3>
      </th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Approval Id</th>
      <th>License Company Name</th>
      <th>License Type Name</th>
      <th>Extension Start Date</th>
      <th>Extension End Date</th>
      <th>License Admin Fees</th>
    </tr>
    <tr>
      <td><input type="text" th:field="${licenseAdminFeesExtensionDTO.id}" disabled> </td>
      <td><input type="text" th:field="${licenseAdminFeesExtensionDTO.licenseAppId}" disabled></td>
      <td><input type="text" th:field="${licenseAdminFeesExtensionDTO.licenseCompanyName}" disabled></td>
      <td><input type="text" th:field="${licenseAdminFeesExtensionDTO.licenseTypeName}" disabled></td>
      <td><input type="text" th:field="${licenseAdminFeesExtensionDTO.extStartDate}" disabled></td>
      <td><input type="text" th:field="${licenseAdminFeesExtensionDTO.extExpireDate}" disabled></td>
      <td><input type="text" th:field="${licenseAdminFeesExtensionDTO.extensionAdministrationFees}" disabled></td>

    </tr>
    <tr>
      <td colspan="9" class="signature-section" th:text="#{signature}"></td>
    </tr>
    <tr>
      <td colspan="9">
        <button class="btn btn-primary" onclick="doPrint();" id="prn" th:text="#{print}"></button>
      </td>
    </tr>
  </table>
  <a th:href="@{/licenses/finance/extension/admin_fees_extension/license_admin_fees}" id="backtopage" class="btn btn-primary" style="margin-top:20px;">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>
    Back to Page</a>
</div>

<script>
  function doPrint() {
    document.getElementById("pagnav").style.display = "none";
    document.getElementById("pagfooter").style.display = "none";
    document.getElementById("prn").style.display = "none";
    document.getElementById("backtopage").style.display = "none";


    window.print();

    document.getElementById("pagnav").style.display = "block";
    document.getElementById("pagfooter").style.display = "inline-block";
    document.getElementById("prn").style.display = "inline-block";
    document.getElementById("backtopage").style.display = "inline-block";


  }
</script>

<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>
<div th:replace="scripts :: commonhijrishamsidate"></div>

<div style="height:15vh;"></div>
<footer th:replace="~{layout :: page_footer}" id="pagfooter"></footer>

</body>
</html>
