<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{codes_layout :: page_head}">
    <title>SMS Identifier Application Fee Payment Section</title>
    <div th:replace="styles :: common-css"></div>
    <div th:replace="styles :: commonfieldset"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
</head>
<body>
<nav th:replace="~{codes_layout :: page_navbar}"></nav>
<div class="container-fluid mt-4"
     th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">

    <form th:action="@{/codes/sms-identifier-royaltyfee/pay/save}"
          th:object="${dto}"
          method="post">

        <fieldset style="border:2px solid #DCAF45;padding:15px;border-radius:8px;margin-bottom:20px;">
            <legend style="width:auto;font-size:1.2rem;color:#14438B;padding:0 10px;font-weight:bold;">
                Royalty Fee Payment
            </legend>

        <input type="hidden" th:field="*{id}"/>

        <div class="row mb-3">
            <div class="col-md-4">
                <label>Royalty Fees</label>
                <input type="number" step="0.01"
                       th:field="*{royaltyFees}"
                       class="form-control" required/>
            </div>

            <div class="col-md-4">
                <label>Voucher No</label>
                <input type="text"
                       th:field="*{royaltyFeesBankVoucherNo}"
                       class="form-control" required/>
            </div>




            <div class="col-md-4">
                <label>Entry Voucher Date</label>
                <input type="text"
                       th:field="*{royaltyFeesEnteryVoucherDateJalali}"
                       class="form-control hijrishamsi"/>
            </div>
        </div>
            <div class="row mb-3">
            <div class="col-md-4">
                <label>Submission Date</label>
                <input type="text"
                       th:field="*{royaltyFeesBankVoucherSubmissionDateJalali}"
                       class="form-control hijrishamsi"/>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-success">Save Payment</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>

        </div>

        </fieldset>
        <a th:href="@{/codes/sms-identifier-royaltyfee/unpaid/list}"
           class="btn btn-primary mt-3">
            ← Back to Page
        </a>
    </form>
</div>

<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: common-hijrishamsi-date"></div>


<div style="height:10vh;"></div>
<footer th:replace="~{codes_layout :: page_footer}"></footer>
</body>
</html>
