<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
  <div th:replace="styles :: commonfieldset"></div>
  <title>LMS</title>
  <style>
    h4 a {
        color: #14438B;
        font-size: 20px;
    }
  </style>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container mt-5">
  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LICENSE', 'ROLE_LICENSE_COMPLETION_PROFILE', 'ROLE_LICENSE_PROFILE_ENTRY')">
    <legend>License Applicant Management Section</legend>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/licenses/license/registration/profile-entry/license_new_profile}">
            <img th:src="@{/images/New_application.png}" alt="License Management System" class="img-fluid"></a>
          <h4 class="license-link mt-2">
            <a th:href="@{/licenses/license/registration/profile-entry/license_new_profile}" th:text="#{license_applicant}" style="font-size:20px;"></a>
          </h4>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/licenses/license/registration/profile-entry/license_new_profile_list}">
            <img th:src="@{/images/license_applicants_list.png}" alt="Finance Revenue Management System" class="img-fluid"></a>
          <h4 class="license-link mt-2">
            <a th:href="@{/licenses/license/registration/profile-entry/license_new_profile_list}"   style="font-size:20px;">List Profiles</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LICENSE','ROLE_LICENSE_COMPLETION_PROFILE')">
    <legend>License Management Section</legend>
    <div class="row g-4">

      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/licenses/license/registration/completion-profile/license_applicant_profile_list}">
            <img th:src="@{/images/applicant.png}" alt="Finance Revenue Management System" class="img-fluid"></a>
          <h4 class="license-link mt-2">
            <a th:href="@{/licenses/license/registration/completion-profile/license_applicant_profile_list}"   style="font-size:20px;">List Of All Applicants</a>
          </h4>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/licenses/license/registration/license_applicants_profile}">
            <img th:src="@{/images/send_to_board.png}" alt="LMS" class="img-fluid"></a>
          <h4 class="license-link mt-2">
            <a th:href="@{/licenses/license/registration/license_applicants_profile}"  style="font-size:20px;">Send To Board</a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
  <br>
  <fieldset style="border: 2px solid #DCAF45; padding: 15px; border-radius: 8px; margin-bottom: 20px;" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LICENSE_APPROVAL')">
    <legend style="width: auto; font-size: 1.2rem; color: #14438B; padding: 0 10px; font-weight: bold;">License Approval Management Section</legend>

    <div class="row g-4">
      <!-- Card 1 -->
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/licenses/license/approval/license_applicants_approval_list}">
            <img th:src="@{/images/licenseapproval.png}" alt="License Management System" class="img-fluid">
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/licenses/license/approval/license_applicants_approval_list}" th:text="#{license_approval}"  style="font-size:20px;"></a>
          </h4>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-sm-4">
        <div class="custom-card text-center p-3">
          <a th:href="@{/licenses/license/rejection/license_applicants_rejection_list}">
            <img th:src="@{/images/rejection.png}" alt="License Management System" class="img-fluid">
          </a>
          <h4 class="license-link mt-2">
            <a th:href="@{/licenses/license/rejection/license_applicants_rejection_list}" th:text="#{rejected_license}"  style="font-size:20px;"></a>
          </h4>
        </div>
      </div>
    </div>
  </fieldset>
  <br>

  <fieldset style="border: 2px solid #DCAF45; padding: 15px; border-radius: 8px; margin-bottom: 20px;" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LICENSE','ROLE_LICENSE_COMPLETION_PROFILE')">
    <legend style="width: auto; font-size: 1.2rem; color: #14438B; padding: 0 10px; font-weight: bold;">License Extension Management Section</legend>
    <div class="col-sm-4">
      <div class="custom-card text-center p-3" >
        <a th:href="@{/licenses/license/extension/extension_home}">
          <img th:src="@{/images/finance_extension.png}" alt="license Management System"></a>
        <h4 class="license-link" style="margin-top: 12px;">
          <a th:href="@{/licenses/license/extension/extension_home}"  style="font-size:20px;">License Fees Extension</a>
        </h4>
      </div>
    </div>
  </fieldset>
  <br>
  <fieldset style="border: 2px solid #DCAF45; padding: 15px; border-radius: 8px; margin-bottom: 20px;" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LICENSE')">
    <legend style="width: auto; font-size: 1.2rem; color: #14438B; padding: 0 10px; font-weight: bold;">License Certificate Management Section</legend>
    <div class="col-sm-4">
      <div class="custom-card text-center p-3">
        <a th:href="@{/licenses/license/certificate/license_applicants_certificate_list}">
          <img th:src="@{/images/certificate.png}" alt="Codes Management System"></a>
        <h4 class="license-link" style="margin-top: 12px;">
          <a th:href="@{/licenses/license/certificate/license_applicants_certificate_list}"  style="font-size:20px;">Certificate Management</a>
        </h4>
      </div>
    </div>
  </fieldset>
  <a th:href="@{/}" class="btn btn-primary" style="margin-top:20px;">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>
    Back to Page</a>
</div>
<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>

<div style="height:10vh;"></div>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>