<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
  <title>LMIS</title>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container mt-5">
  <table class="table table-borderless">
    <tr style="border-bottom:1px solid darkgray;">
      <td class="text-center">
        <div class="custom-card">
          <a th:href="@{/licenses/license/registration/license_new_applicant}">
            <img th:src="@{/images/license_new_applicant.png}" alt="License Management System"></a>
          <h4 class="license-link" style="margin-top: 12px;">
            <a th:href="@{/licenses/license/registration/license_new_applicant}" th:text="#{license_applicant}"></a>
          </h4>
        </div>
      </td>
      <td class="text-center">
        <div class="custom-card">
          <a th:href="@{/licenses/license/registration/license_applicants_profile}">
            <img th:src="@{/images/applicant.png}" alt="Finance Revenue Management System"></a>
          <h4 class="license-link" style="margin-top: 12px;">
            <a th:href="@{/licenses/license/registration/license_applicants_profile}" th:text="#{applicant_list}"></a>
          </h4>
        </div>
      </td>
    </tr>
    <tr style="border-bottom:1px solid darkgray;">
      <td class="text-center">
        <div class="custom-card">
          <a th:href="@{/licenses/license/approval/license_applicants_approval_list}">
            <img th:src="@{/images/licenseapproval.png}" alt="Codes Management System"></a>
          <h4 class="license-link" style="margin-top: 12px;">
            <a th:href="@{/licenses/license/approval/license_applicants_approval_list}" th:text="#{license_approval}"></a>
          </h4>
        </div>
      </td>
    </tr>
    <tr style="border-bottom:1px solid darkgray;">
      <td class="text-center">
        <div class="custom-card">
          <a th:href="@{/licenses/license/extension/extension_home}">
            <img th:src="@{/images/extension.png}" alt="Codes Management System"></a>
          <h4 class="license-link" style="margin-top: 12px;">
            <a th:href="@{/licenses/license/extension/extension_home}" th:text="#{license_fees_extension}"></a>
          </h4>
        </div>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <a th:href="@{/}" class="btn" style="margin-top:20px;background-color:#0dcaf0;color:white;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
          </svg>
          Back to Page</a>
      </td>
    </tr>
  </table>
</div>
<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
