<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
    <div th:replace="styles :: select2-styles"></div>
    <title>ATRA Financial Integrated System</title>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<h3 style="text-align:center;margin-top:30px;font-weight:bolder;" th:text="#{license_application_confirmation}">License Application Confirmation</h3>
<div class="container-fluid" style="margin-top:40px;">
    <form th:action="@{/licenses/finance/application/license_application_fee_list/add}" th:object="${licenseApplicantDTO}" method="post">
        <div class="row">
            <!-- Hidden ID Field -->
            <input type="hidden" th:field="*{id}">

            <!-- Request Date -->
            <div class="col-md-3 form-group">
                <label th:text="#{applicant_request_date}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">
                </label>
                <input type="text" th:field="*{reqDate}" class="form-control hijrishamsi" readonly="readonly">
            </div>

            <!-- License Type -->
            <div class="col-md-3 form-group">
                <label for="licenseTypeId" th:text="#{applicant_license_type}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
                <select id="licenseTypeId" th:field="*{licenseTypeId}" class="form-control" required onchange="setApplicationFees()">
                    <option th:each="licenseType : ${licenseTypes}" th:value="${licenseType.id}" th:text="${licenseType.name}"></option>
                </select>
            </div>

            <!-- Currency Type -->
            <div class="col-md-3 form-group">
                <label th:text="#{applicant_license_currency}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>

                <input type="text" th:field="*{currencyType}" class="form-control"  readonly="readonly">
            </div>

            <!-- Finance Type -->
            <div class="col-md-3 form-group">
                <label th:text="#{applicant_license_finance_type}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>

                <input type="text" th:field="*{financeType}" class="form-control"  readonly="readonly">
            </div>
        </div>

        <div class="row">
            <!-- Company License Name -->
            <div class="col-md-3 form-group">
                <label th:text="#{license_application_company_license_name}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>

                <input type="text" th:field="*{companyLicenseName}" class="form-control"  readonly="readonly">
            </div>

            <!-- License Number -->
            <div class="col-md-3 form-group">
                <label th:text="#{license_application_license_no}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>

                <input type="text" th:field="*{licenseNo}" class="form-control"  readonly="readonly">
            </div>

            <!-- Year of Establishment -->
            <div class="col-md-3 form-group">
                <label th:text="#{license_application_year_establishment}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>

                <input type="text" th:field="*{yearOfEstablishment}" class="form-control hijrishamsi"  readonly="readonly">
            </div>

            <!-- Expiry Date -->
            <div class="col-md-3 form-group">
                <label th:text="#{license_application_expiry_date}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>

                <input type="text" th:field="*{expiryDate}" class="form-control hijrishamsi"  readonly="readonly">
            </div>
        </div>

        <div class="row">
            <!-- Application Fees -->
            <div class="col-md-3 form-group">
                <label th:text="#{license_application_fee}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>

                <input type="number" step="0.01" th:field="*{applicationFees}" class="form-control"  readonly="readonly">
            </div>

            <!-- Bank Voucher -->
            <div class="col-md-3 form-group">
                <label th:text="#{bank_voucher}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>

                <input type="text" th:field="*{bankVoucher}" class="form-control" required>
            </div>

            <!-- Payment Status -->
            <div class="col-md-3 form-group">
                <label th:text="#{payment_status}"
                       th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">
                </label>
                <input type="text" th:field="*{paymentStatus}" class="form-control" required>
            </div>
        </div>

        <!-- Submit/Reset Buttons -->
        <div class="col-md-4 btn-group d-flex justify-content-center" style="margin-top: 15px; margin-bottom:80px;">
            <button type="submit" class="btn btn-primary btn-sm" style="width: 100px;" th:text="#{confirmation_payment}">
                <span class="fas fa-check"></span> Confirm Payment
            </button>
        </div>
    </form>
</div>

<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: data-tables-scripts"></div>

<script>
    $('.hijrishamsi').persianDatepicker({
      format: 'YYYY-MM-DD',
      autoClose: true,
      calendar: {
          persian: {
              locale: 'en'
          }
      }
  });
</script>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
