<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
  <div th:replace="styles :: data-tables-styles"></div>
  <!-- Additional styles -->
  <div th:replace="styles :: persian-datepicker-styles"></div>
  <div th:replace="styles :: select2-styles"></div>
  <title>ATRA Enterprise Planning Project</title>
<style>
  .label-rtl {
      color: darkgoldenrod !important;
      font-weight: bolder !important;
      width: 100% !important;
      direction: rtl !important;
      text-align: right; /* Ensures text alignment in RTL */
  }
  .label-ltr {
      color: darkgoldenrod !important;
      font-weight: bolder !important;
      width: 100% !important;
      direction: ltr !important;
      text-align: left;
  }

</style>
</head>
<body onload="setApplicationFees()">
<nav th:replace="~{layout :: page_navbar}"></nav>
<h2 class="text-center" th:text="#{license_applicant_header}" style="color:darkgoldenrod; margin-top:10px; font-weight:bold;"></h2>
<div class="container-fluid mt-4">
  <div>
    <div th:if="${successMessage}" class="alert alert-success" role="alert" th:text="${successMessage}"></div>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
    <form th:action="@{/licenses/license/registration/license_new_applicant}" th:object="${profile}" method="post" enctype="multipart/form-data">
      <!-- Row 1: Request Date, License Type, Currency Type, Finance Type -->
      <div class="row">
        <div class="col-md-3 form-group">
          <label
                  th:text="#{applicant_request_date}"
                  th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'">
          </label>
          <input type="text" id="reqDate" th:field="*{reqDate}" class="form-control hijrishamsi" required>
        </div>

        <div class="col-md-3 form-group">
          <label for="licenseTypeId" th:text="#{applicant_license_type}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <select id="licenseTypeId" th:field="*{licenseTypeId}" class="form-control" required onchange="setApplicationFees()">
<!--            <option th:each="licenseType : ${licenseTypes}" th:value="${licenseType.id}" th:text="${licenseType.name}"></option>-->
            <option value="" disabled selected>Select License Type</option>
            <option value="1">MTS/3G</option>
            <option value="2">Unified</option>
            <option value="3">CDMA</option>
            <option value="4">National Fiber</option>
            <option value="5">Regional Fiber</option>
            <option value="6">Metropolitan First Category :For Kabul City Optical Fiber Cable License</option>
            <option value="7">Metropolitan  Second Category : For Herat,Balkh,Kandakhar,Jalalabad,,Khost, and Kundos Optical Fiber License</option>
            <option value="8">Metropolitan Third Category : For Other Cities Optical Fiber License</option>
            <option value="9">National ISP</option>
            <option value="10">Provincial ISP</option>
            <option value="11">WIMAX</option>
            <option value="12">Digital TV</option>
            <option value="13">VAS (SMS,USSD,IVR)</option>
            <option value="14">IVR</option>
            <option value="15">SMS</option>
            <option value="16">USSD</option>
            <option value="17">TTSP - A</option>
            <option value="18">TTSP-B</option>
            <option value="19">TTSP-C</option>
            <option value="20">TTSP-D</option>
            <option value="21">Telecom Equipment Import (Service Provider "SP")</option>
            <option value="22">Sim Card Distributor</option>
          </select>
        </div>
          <div class="col-md-2 form-group">
              <label for="companyLicenseName" th:text="#{license_application_company_license_name}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
              <input type="text" id="companyLicenseName" th:field="*{companyLicenseName}" class="form-control" required>
          </div>
        <div class="col-md-3 form-group">
          <label for="financeType" th:text="#{applicant_license_finance_type}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <select id="financeType" th:field="*{financeType}" class="form-control" required>
            <option value="ATRA">ATRA</option>
            <option value="MCIT">MCIT</option>
          </select>
        </div>
      </div>
      <!-- Row 2: Application Fees, Expected Investment, Cash -->
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="applicationFees" th:text="#{license_application_fee}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="text" id="applicationFees" th:field="*{applicationFees}" class="form-control" required>
        </div>
          <div class="col-md-2 form-group" style="width:90px">
              <label for="currencyType" th:text="#{applicant_license_currency}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
              <input type="text" id="currencyType" th:field="*{currencyType}" class="form-control" readonly="readonly">
          </div>
        <div class="col-md-2 form-group">
          <label for="expectedInvestment" th:text="#{license_application_expected_investment}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="text" id="expectedInvestment" th:field="*{expectedInvestment}" class="form-control" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="cash" th:text="#{license_application_cash}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="text" id="cash" th:field="*{cash}" class="form-control" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="licenseNo" th:text="#{license_application_license_no}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="text" id="licenseNo" th:field="*{licenseNo}" class="form-control" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="licenseUpload" th:text="#{license_application_upload}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="file" id="licenseUpload" th:field="*{licenseUpload}" class="form-control-file" accept=".pdf,.jpg,.jpeg,.png" required>
        </div>
      </div>
      <!-- Row 3: TIN Upload, Bank Statement Upload, Year of Establishment, Expiry Date -->
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="tinNo" th:text="#{license_application_tin}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="text" id="tinNo" th:field="*{tinNo}" class="form-control" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="tinUpload" th:text="#{license_application_tin_upload}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="file" id="tinUpload" th:field="*{tinUpload}" class="form-control-file" accept=".pdf,.jpg,.jpeg,.png" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="bankStatementUpload" th:text="#{license_application_bank_statement_file}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="file" id="bankStatementUpload" th:field="*{bankStatementUpload}" class="form-control-file" accept=".pdf,.jpg,.jpeg,.png" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="yearOfEstablishment" th:text="#{license_application_year_establishment}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="text" id="yearOfEstablishment" th:field="*{yearOfEstablishment}" class="form-control hijrishamsi" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="expiryDate" th:text="#{license_application_expiry_date}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="text" id="expiryDate" th:field="*{expiryDate}" class="form-control hijrishamsi" required>
        </div>
      </div>
      <!-- Row 4: Employees, Planned Activities, Other Licenses -->
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="totalNationalEmployees" th:text="#{license_application_national_employee}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="number" id="totalNationalEmployees" th:field="*{totalNationalEmployees}" class="form-control" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="totalInternationalEmployees" th:text="#{license_application_international_employee}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="number" id="totalInternationalEmployees" th:field="*{totalInternationalEmployees}" class="form-control" required>
        </div>
        <div class="col-md-4 form-group">
          <label for="plannedActivitiesAndServices" th:text="#{license_application_plan_active_Service}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <textarea id="plannedActivitiesAndServices" th:field="*{plannedActivitiesAndServices}" class="form-control" required></textarea>
        </div>
        <div class="col-md-4 form-group">
          <label for="otherLicenseTaken" th:text="#{license_application_other_license}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="text" id="otherLicenseTaken" th:field="*{otherLicenseTaken}" class="form-control" required>
        </div>
      </div>
      <!-- Row 5: Company Info, Post Address, Contact Info -->
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="companyAddress" th:text="#{license_application_company_address}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <textarea id="companyAddress" th:field="*{companyAddress}" class="form-control" required></textarea>
        </div>
        <div class="col-md-3 form-group">
          <label for="postAddress" th:text="#{license_application_post_address}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <textarea id="postAddress" th:field="*{postAddress}" class="form-control" required></textarea>
        </div>
        <div class="col-md-2 form-group">
          <label for="contactNo" th:text="#{license_application_contact_no}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="text" id="contactNo" th:field="*{contactNo}" class="form-control" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="email" th:text="#{license_application_email}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="email" id="email" th:field="*{email}" class="form-control" required>
        </div>
        <div class="col-md-2 form-group">
          <label th:text="#{license_application_website}" th:classappend="${#locale.language == 'ps' or #locale.language == 'prs'} ? 'label-rtl' : 'label-ltr'"></label>
          <input type="website" id="website" th:field="*{website}" class="form-control" required>
        </div>
      </div>

      <!-- Submit/Reset Buttons -->
      <div class="btn-group d-flex justify-content-center" style="margin-top: 15px;margin-bottom:80px;">
        <button type="submit" class="btn btn-primary btn-sm" style="width: 60px; height: 40px; margin-right: 5px;">
          <i class="fas fa-check" style="margin-right: 5px;"></i>Submit
        </button>
        <button type="reset" class="btn btn-warning btn-sm" style="width: 60px; height: 40px; margin-right: 5px;">
          <i class="fas fa-redo" style="margin-right: 5px;"></i>Reset
        </button>
        <a th:href="@{/Licenses/License/Registration/LicenseApplicationProfile}" class="btn btn-secondary btn-sm"
           style="width: 60px; height: 40px;margin-right: 5px;">
          <i class="fas fa-arrow-left" style="margin-right: 5px;margin-top:5px;"></i>Back
        </a>
      </div>

    </form>
  </div>
</div>

<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>

<!-- Persian DatePicker scripts -->
<div th:replace="scripts :: persian-datepicker-scripts"></div>

<div th:replace="scripts :: data-tables-scripts"></div>

<script>
  $('.hijrishamsi').persianDatepicker({
        format: 'YYYY-MM-DD',
        autoClose: true,
        calendar: {
            persian: {
                locale: 'en'
            }
        }
    });
    function setApplicationFees() {
    const licenseType = document.getElementById("licenseTypeId").value;
    const applicationFeesField = document.getElementById("applicationFees");
    const currencyType = document.getElementById("currencyType");
    //Currency Section
    if (licenseType === "6" || licenseType === "7" || licenseType === "8") {currencyType.value="USD";}
    else{currencyType.value="AFN";}
    // End Of Currency Section
    if (licenseType === "1") {
        applicationFeesField.value = 195000000;

    } else if (licenseType === "2") {
        applicationFeesField.value = 0;
    }
    else if (licenseType === "3") {
        applicationFeesField.value = 7800000;
    }
    else if (licenseType === "4") {
        applicationFeesField.value = 1170000;
    }
    else if (licenseType === "5") {
        applicationFeesField.value = 273000;
    }
    else if (licenseType === "6") {
        applicationFeesField.value = 2000;
    }
    else if (licenseType === "7") {
        applicationFeesField.value = 1500;
    }
    else if (licenseType === "8") {
        applicationFeesField.value = 1000;
    }
    else if (licenseType === "9") {
        applicationFeesField.value = 75000;
    }
    else if (licenseType === "10") {
        applicationFeesField.value = 15000;
    }
    else if (licenseType === "11") {
        applicationFeesField.value = 1014000;
    }
    else if (licenseType === "12") {
        applicationFeesField.value = 10000;
    }
    else if (licenseType === "13") {
        applicationFeesField.value = 30000;
    }
    else if (licenseType === "14") {
        applicationFeesField.value = 10000;
    }
    else if (licenseType === "15") {
        applicationFeesField.value = 10000;
    }
    else if (licenseType === "16") {
        applicationFeesField.value = 10000;
    }
    else if (licenseType === "17") {
        applicationFeesField.value = 250000;
    }
    else if (licenseType === "18") {
        applicationFeesField.value = 100000;
    }
    else if (licenseType === "19") {
        applicationFeesField.value = 50000;
    }
    else if (licenseType === "20") {
        applicationFeesField.value = 20000;
    }
    else if (licenseType === "21") {
        applicationFeesField.value = 10000;
    }
    else if (licenseType === "22") {
        applicationFeesField.value = 50000;
    }

    else {
        applicationFeesField.value = ""; // Clear if no valid option is selected
    }
}

</script>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
