<!DOCTYPE html>
<html lang="en"
      th:lang="#{lang}"
      th:dir="${#locale.language == 'ps' ? 'rtl' : 'ltr'}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{codes_layout :: page_head}">
  <title>LMS</title>
  <div th:replace="styles :: commonfieldset"></div>

  <style>
    a h4 {
          color: #14438B;
          font-size: 20px;
          text-decoration: none;
          font-weight: 600;
      }

  .custom-card {
      text-align: center;
      padding: 20px;
      border-radius: 12px;
      transition: 0.3s ease;
  }

  .custom-card:hover {
      transform: translateY(-5px);
  }

  .custom-card img {
      height: 80px;
  }
  </style>
</head>

<body>

<nav th:replace="~{codes_layout :: page_navbar}"></nav>

<div class="container mt-4">

  <!-- ================= SHORT CODES ================= -->
  <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CODES_ADMIN')">
    <legend>Codes Finance Management Section</legend>

    <table class="table table-borderless text-center">
      <tr>
        <td>
          <div class="custom-card">
            <a th:href="@{/codes/shortcode/finance/home}">
              <img th:src="@{/images/shortCodes.png}" alt="Short Code">
              <h4 style="margin-top:12px;">Short Code</h4>
            </a>
          </div>
        </td>


        <td>
          <div class="custom-card">
            <a th:href="@{#}">
              <img th:src="@{/images/codeDetail.png}" alt="Code Detail">
              <h4 style="margin-top:12px;">SMS Identifier</h4>
            </a>
          </div>
        </td>

        <td>
          <div class="custom-card">
            <a th:href="@{#}">
              <img th:src="@{/images/smsidentifiercode.png}" alt="Short Code List">
              <h4 style="margin-top:12px;">ISPC Code</h4>
            </a>
          </div>
        </td>

      </tr>
    </table>
  </fieldset>

</div>

<div th:replace="scripts :: common-scripts"></div>
<footer th:replace="~{codes_layout :: page_footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
