<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">


    <title>Refer To Finance</title>



</head>
<body dir="rtl" style="background-color:white;">
<nav th:replace="~{typeofApproval_layout :: page_navbar}"></nav>

<div class="d-flex justify-content-center">
    <div class="card shadow rounded-4 p-4 w-100 text-center">
        <!-- Top Banner -->

        <!-- Logos and Text -->
        <div class="row justify-content-center align-items-center">
            <!-- Left Logo + تاریخ -->
            <div class="col-3 text-center">
                <img th:src="@{/images/atra_afghanistan.png}" alt="Logo">
            </div>

            <!-- Center Text -->
            <div class="col-6 mb-3 mb-md-0">
                <p id="dari_text" class="m-0">
                    <img th:src="@{/images/emarat_text.png}" alt="Logo">
                    <br>
                    وزارت مخابرات و تکنالوژی معلوماتی<br>
                    اداره تنظیم خدمات مخابراتی افغانستان<br>
                    ریاست مالي<br>
                    آمریت عواید<br>
                    تعرفه تحویلی
                </p>
            </div>

            <!-- Right Logo + شماره -->
            <div class="col-3 text-center">
                <img th:src="@{/images/islami_emarat.png}" alt="Logo">
                <div class="mt-2" dir="rtl">شماره: ..........</div>
            </div>
        </div>
    </div>
</div>

<div class="mb-2" style="background-color: black; height: 2px;"></div>

<div style="display: flex; justify-content: center;">
    <img th:src="@{/images/bismillah.png}" style="max-width: 100%; height: auto;">
</div>

<div class="m-4" style="display: flex; justify-content: right;" dir="rtl">
    <h2>به ریاست محترم مالی !</h2>
</div>
<div style="display: flex; justify-content: center;">
    <img th:src="@{/images/salaam.png}" style="max-width: 100%; height: auto;">
</div>

<div class="m-4" style="display: flex; justify-content: right;" dir="rtl">
    <u><h3>موضوع: جدول سنجش فیس درخواست و اداری تایپ اپروول</h3></u>
</div>

<div class="m-4" style="display: flex; justify-content: right;" dir="rtl">
    <h4>اختراما نګاشته میشود</h4>
</div>

<div class="m-4" style="display: flex; justify-content: right;" dir="rtl">
    <p>لطف نموده برویت شماره (03) تعرفه تحویلی را که مشخصات آن در جدول میباشد را به مسولیت خویش ترتیب نموده بعد از ویزه کنترول</p>
</div>
<div class="m-4" style="display: flex; justify-content: right;" dir="rtl">
    <p>صادر نمایند،البته در صورت پرداخت وجوه تعرفه از صورت تحویلی آن ذریعه کاپی آویز غرض اجرات بعدی به این ریاست اطمینان دهند.</p>

</div>

<div style="display: flex; justify-content: center;" dir="rtl">
    <table class="table table-bordered" dir="rtl">
        <caption dir="rtl" style="caption-side: top !important;
        text-align: right;
        font-weight: bold;
        padding-bottom: 10px;"> 3- جدول سنجش فیس درخواست و اداری تایپ اپروول</caption>
        <tr>
            <th>شماره</th>
            <th colspan="2">مشخصات تعرفه</th>
            <th>ملاحظاب</th>
        </tr>
        <tr>
            <td>1</td>
            <td>مرجع تحویلی تعرفه</td>
            <td th:text="${profile.companyName}">Realtime International</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>مدرک تحویلی تعرفه</td>
            <td>فیس درخواست و اداری</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>مودل</td>
            <td>LANR41</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>نمبر حساب بانکی</td>
            <td>حساب بانکی اداره</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>مبلغ قابل پرداخت</td>
            <td th:text="${profile.applicationFee}+${profile.adminFee}">admin fee + application fee</td>
            <td></td>
        </tr>
    </table>
</div>
<div style="display: flex; justify-content: center;margin-top:15px;">
    <h3>با احترام</h3>
</div>
<script>
    function doPrint() {
        document.getElementById("back").style.display = "none";
        document.getElementById("print").style.display = "none";
        window.print();
        document.getElementById("back").style.display = "inline";
        document.getElementById("print").style.display = "inline";
    }
</script>


<div style="height:15vh;"></div>
<footer th:replace="~{layout :: page_footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
