<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="~{layout :: page_head}">
    <meta charset="UTF-8">
    <div th:replace="styles :: data-tables-styles"></div>
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">-->
    <title>LMS - Report</title>
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <div th:replace="styles :: data-tables-styles"></div>
    <div th:replace="styles :: select2-styles"></div>
    <div th:replace="styles :: commonfieldset"></div>
    <div th:replace="styles :: common-css"></div>
    <style>
        h4 a {
            color: #14438B;
            font-size: 20px;
        }
    </style>
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container mt-5">

    <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LICENSE_ADMIN','ROLE_CODES_ADMIN','ROLE_LICENSE','ROLE_MINISTRY','ROLE_LICENSE_COMPLETION_PROFILE','ROLE_LICENSE_APPROVAL','ROLE_LICENSE_PROFILE_ENTRY','ROLE_FINANCE')">
        <legend th:text="#{project_section}">Projects Section</legend>
        <table class="table table-borderless">
            <tr>
                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LICENSE_ADMIN','ROLE_LICENSE','ROLE_LICENSE_COMPLETION_PROFILE','ROLE_LICENSE_APPROVAL','ROLE_LICENSE_PROFILE_ENTRY','ROLE_FINANCE','ROLE_MINISTRY')">
                        <a th:href="@{/licenses/index}">
                            <img th:src="@{/images/license_management_system.png}" alt="License Management System">
                        </a>
                        <h4 class="license-link" style="margin-top: 12px;">
                            <a th:href="@{/licenses/index}" th:text="#{license_management_system}">License Management System</a>
                        </h4>
                    </div>
                </td>
                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CODES_ADMIN')">
                        <a th:href="@{/Codes}">
                            <img th:src="@{/images/Codes_management_system.png}" alt="Finance Management">
                        </a>
                        <h4 class="license-link" style="margin-top: 10px;">
                            <a th:href="@{/Codes}" th:text="#{codes_management_system}">Codes Management System</a>
                        </h4>
                    </div>
                </td>

                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_typeofapprovals_ADMIN')">
                        <a th:href="@{/typeofapprovals}">
                            <img th:src="@{/images/typeofApprovals.png}" alt="Finance Management">
                        </a>
                        <h4 class="license-link" style="margin-top: 10px;">
                            <a th:href="@{/typeofapprovals}" th:text="#{typeof_approvals}">Type Of Approvals</a>
                        </h4>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>


</div>
<div th:replace="scripts :: common-scripts"></div>

<footer th:replace="~{layout :: page_footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>