<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{layout :: page_head}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>ATRA Enterprise Planning Project</title>

</head>
<body>
<nav th:replace="~{layout :: page_navbar}">
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card" sec:authorize="hasRole('ROLE_CODE_FINANCE')">
                <img class="card-img-top" th:src="@{/images/financesection.png}" alt="Finance Section">
                <div class="card-body">
                    <h5 class="card-title"><a th:href="@{/Codes/Finance/FinanceSection}" href="#">Finance Section</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" sec:authorize="hasRole('ROLE_STANDARD')">
                <img class="card-img-top" th:src="@{/images/code.png}" alt="Standard Section">
                <div class="card-body">
                    <h5 class="card-title"><a th:href="@{/Codes/Standard/StandardSection}" href="#">Standard Section</a></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" th:src="@{/images/license.png}" alt="License Project">
                <div class="card-body">
                    <h5 class="card-title"><a th:href="@{/Licenses/License/Registration}" href="#">License Project</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" th:src="@{/images/codeproject.png}" alt="Codes Project">
                <div class="card-body">
                    <h5 class="card-title"><a th:href="@{/Codes/Finance}" href="#">Codes Project</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{layout :: page_footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
