<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" th:dir="${#locale.language == 'ps' ? 'rtl' : 'ltr'}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{layout :: page_head}">
    <div th:replace="styles :: commonfieldset"></div>
    <title>LMS</title>
    <style>
        h4 a {
            color: #14438B;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div th:replace="styles :: commonfieldset"></div>
<nav th:replace="~{layout :: page_navbar}"></nav>
<div class="container mt-5">

    <fieldset sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LICENSE_ADMIN','ROLE_CODES_ADMIN','ROLE_LICENSE','ROLE_MINISTRY','ROLE_LICENSE_COMPLETION_PROFILE','ROLE_LICENSE_APPROVAL','ROLE_LICENSE_PROFILE_ENTRY','ROLE_FINANCE')">
        <legend>Projects Section</legend>
        <table class="table table-borderless">
            <tr>
                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LICENSE_ADMIN','ROLE_LICENSE','ROLE_LICENSE_COMPLETION_PROFILE','ROLE_LICENSE_APPROVAL','ROLE_LICENSE_PROFILE_ENTRY','ROLE_FINANCE','ROLE_MINISTRY')">
                        <a th:href="@{/licenses/index}">
                            <img th:src="@{/images/license_management_system.png}" alt="License Management System">
                        </a>
                        <h4 class="license-link" style="margin-top: 12px;">
                            <a th:href="@{/licenses/index}">License Management System</a>
                        </h4>
                    </div>
                </td>
                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CODES_ADMIN')">
                        <a th:href="@{/Codes}">
                            <img th:src="@{/images/Codes_management_system.png}" alt="Finance Management">
                        </a>
                        <h4 class="license-link" style="margin-top: 10px;">
                            <a th:href="@{/Codes}">Codes Management System</a>
                        </h4>
                    </div>
                </td>

                <td>
                    <div class="custom-card" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_typeofapprovals_ADMIN')">
                        <a th:href="@{/typeofapprovals}">
                            <img th:src="@{/images/typeofApprovals.png}" alt="Finance Management">
                        </a>
                        <h4 class="license-link" style="margin-top: 10px;">
                            <a th:href="@{/typeofapprovals}">Type Of Approvals</a>
                        </h4>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>


</div>


<footer th:replace="~{layout :: page_footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>