<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Serial Numbers</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <style>
        .assigned {
            background-color: #42f5b0; /* Bootstrap blue */
            color: white;
            font-weight: bold;
        }
    </style>
    <th:block th:insert="~{codes_layout :: page_head}"></th:block>
</head>
<body>
<nav th:replace="~{codes_layout :: page_navbar}"></nav>
<div class="container mt-4">

    <h3>Serial Numbers List</h3>

    <a th:href="@{/serial-numbers/add}" class="btn btn-primary mb-3">
        Add Serial Number
    </a>

    <table class="table table-bordered text-center">
        <tbody>

        <!-- Create rows -->
        <tr th:each="row : ${#numbers.sequence(0, serialNumbers.size() - 1, 20)}">

            <!-- Create 20 columns per row -->
            <td th:each="i : ${#numbers.sequence(row, row + 19)}"
                th:if="${i < serialNumbers.size()}"
                th:text="${serialNumbers[i].serialNumber}"
                th:classappend="${serialNumbers[i].status == 'Assigned'} ? 'assigned' : ''">
            </td>

        </tr>

        </tbody>
    </table>

</div>

<div style="height:10vh"></div>

<footer th:replace="~{codes_layout :: page_footer}"></footer>

</body>
</html>
