<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{lang}"
      th:dir="${#locale.language == 'ps' or #locale.language == 'prs' ? 'rtl' : 'ltr'}">

<head th:replace="~{codes_layout :: page_head}"></head>

<body>

<div th:replace="~{codes_layout :: page_navbar}"></div>

<div class="container-fluid mt-4">

    <fieldset class="commonfieldset-with-legend-border">
        <legend>Short Code Application Fee Extensions</legend>

        <table id="profileTable" class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>Short Code</th>
                <th>Status</th>
                <th>Location</th>
                <th>Category</th>
                <th>Channel</th>
                <th>Email</th>
                <th>Extension Date</th>
                <th>Expiration Date</th>
                <th>Extended Fee</th>
                <th>Voucher No</th>
                <th>Payment Status</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="ext : ${extensions}">

                <td th:text="${ext.shortCodeName}"></td>
                <td th:text="${ext.codeStatus}"></td>
                <td th:text="${ext.location}"></td>
                <td th:text="${ext.category}"></td>
                <td th:text="${ext.chanel}"></td>
                <td th:text="${ext.emailOfResponsiblePerson}"></td>

                <td th:text="${ext.applicationFeeExtensionDateJalali}"></td>
                <td th:text="${ext.applicationFeeExtensionExpirationDateJalali}"></td>

                <td th:text="${ext.applicationFeeExtendedFees}"></td>
                <td th:text="${ext.applicationFeeExtensionBankVoucherNo}"></td>

                <td th:text="${ext.applicationFeeExtensionPaymentStatus}"></td>

            </tr>

            </tbody>

        </table>

    </fieldset>

</div>

<div th:replace="~{codes_layout :: page_footer}"></div>
<div th:replace="~{codes_layout :: common_scripts}"></div>

<script>
    $(document).ready(function () {
        $('#profileTable').DataTable();
    });
</script>

</body>
</html>