<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
    <title>Organizations</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light">
<nav th:replace="~{typeofApproval_layout :: page_navbar}"></nav>
<div class="container">
    <h2 class="mb-4 text-primary">Organizations List</h2>
    <a th:href="@{/organizations/add}" class="btn btn-success mb-3">Add Organization</a>

    <table class="table table-bordered table-hover bg-white">
        <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="org : ${organizations}">
            <td th:text="${org.id}"></td>
            <td th:text="${org.name}"></td>
            <td>
                <a th:href="@{/organizations/edit/{id}(id=${org.id})}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/organizations/delete/{id}(id=${org.id})}" class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/typeofapprovals/home}" class="btn btn-primary" style="margin-top:20px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width:20px;height:20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Back to Page
    </a>
</div>

<div style="height:10vh;"></div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>
