<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{codes_layout :: page_head}">
  <title>SMS Identifier</title>
  <div th:replace="styles :: common-css"></div>
  <div th:replace="styles :: commonfieldset"></div>
  <div th:replace="styles :: persian-datepicker-styles"></div>
</head>
<body>
<nav th:replace="~{codes_layout :: page_navbar}"></nav>
<div class="container mt-4">
  <h3 th:text="${smsCode.id == null ? 'Add SMS Identifier Code' : 'Edit SMS Identifier Code'}"></h3>

  <form th:action="${smsCode.id == null} ?
            @{/codes/sms-identifier-codes/save} :
            @{/codes/sms-identifier-codes/update/{id}(id=${smsCode.id})}"
        th:object="${smsCode}"
        method="post">

    <div class="mb-3">
      <label class="form-label">SMS Identifier Code</label>
      <input type="text" class="form-control"
             th:field="*{smsIdentifierCodeName}" required>
    </div>


    <button type="submit" class="btn btn-success">Save</button>
    <a th:href="@{/sms-identifier-codes}" class="btn btn-secondary">Back</a>
  </form>
</div>

<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: common-hijrishamsi-date"></div>

<div style="height:10vh;"></div>
<footer th:replace="~{codes_layout :: page_footer}"></footer>
</body>
</html>
