<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{codes_layout :: page_head}">
    <title>SMS Identifier</title>
    <div th:replace="styles :: common-css"></div>
    <div th:replace="styles :: commonfieldset"></div>
    <div th:replace="styles :: persian-datepicker-styles"></div>
</head>
<body>
<nav th:replace="~{codes_layout :: page_navbar}"></nav>
<div class="container mt-4">
    <h3>SMS Identifier Codes</h3>

    <a class="btn btn-primary mb-3" th:href="@{/codes/sms-identifier-codes/new}">
        + Add New
    </a>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Status</th>
            <th>Entered Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${codes}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.smsIdentifierCodeName}"></td>
            <td th:text="${#strings.isEmpty(c.assignStatus) ? 'Not Assign' : c.assignStatus}"></td>


            <td th:text="${c.enteredDate}"></td>
            <td>
                <a th:href="@{/sms-identifier-codes/edit/{id}(id=${c.id})}"
                   class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/sms-identifier-codes/delete/{id}(id=${c.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Common scripts -->
<div th:replace="scripts :: common-scripts"></div>
<div th:replace="scripts :: persian-datepicker-scripts"></div>
<div th:replace="scripts :: common-hijrishamsi-date"></div>

<div style="height:10vh;"></div>
<footer th:replace="~{codes_layout :: page_footer}"></footer>
</body>
</html>
